[2016-09-15 09:23] jbenet commented on #173
👍  LGTM

only comment: I would probably not say "instead of semantic web", as people can write RDF -> JSON-LD -> IPLD, rather say the emphasis is lower level or something

[2016-09-19 15:55] flyingzumwalt commented on #173
FYI: we need to [submit the poster to the printers in Boston](https://wiki.duraspace.org/display/hydra/Hydra+Connect+2016+Poster+sign-up+and+details+of+local+printing+arrangements#HydraConnect2016Postersign-upanddetailsoflocalprintingarrangements-Detailsoflocalprintingarrangements) by Monday 26 September.

[2016-09-19 19:47] RichardLitt opened #175 "Want IPFS Stickers?"
IPFS has stickers that you can get. Unfortunately, Stickermule has closed their marketplace, so you will have to direct requests [through Skylar](https://github.com/ipfs/community/issues/11#issuecomment-357773361).

[![ipfs-logo](https://cloud.githubusercontent.com/assets/910753/18646531/0770399a-7e80-11e6-80d6-8eda63f72569.png)](https://www.stickermule.com/marketplace/11503-ipfs-logo)

In the pas

[2016-09-19 19:47] RichardLitt commented on #50
Closing in favor of #175.

[2016-09-19 19:47] #50 closed

[2016-09-19 19:48] RichardLitt commented on #11
Stickers! See #175.

[2016-09-22 14:41] #127 closed

[2016-09-23 20:22] RichardLitt commented on #169
Is there anything would like to see which wasn't included in #171, @flyingzumwalt?

[2016-09-23 21:00] flyingzumwalt commented on #169
Nope. #171 covers it fine for a first pass.

[2016-09-23 21:00] #169 closed

[2016-09-24 11:57] heaven00 commented on #50
just wondering how far do you guys deliver them ?

[2016-09-24 15:23] RichardLitt commented on #50
@heaven00 See #175. You can order them now from Stickermule, they will get to you. :)

[2016-09-25 23:40] flyingzumwalt commented on #173
@RichardLitt your draft of the poster looks good.  Some notes:

**Title**:
I want the title to make a really bold statement along the lines of _IPFS and the decentralized web are the key to the future of Libraries and Archives in a data-centric world._

Note: This is not just about Archiving Data. Yes, they will use IPFS for archiving, but it also allows them to cover a lot of their core values.

[2016-09-26 02:23] flyingzumwalt opened #177 "Publish a list of "Supporting Modules""
If someone wants to create an IPFS implementation in a new language, the best starting point is to create the supporting libp2p and multiformats modules.  Those modules are useful beyond IPFS and you absolutely need them in order to have a working IPFS implementation in your language.

The best list we currently have is in https://github.com/ipfs/py-ipfs/blob/master/README.md under "Supporting Mod

[2016-09-26 02:37] diasdavid commented on #177
Thank you for capturing this @flyingzumwalt. Here is an up to date list, of all of this supporting modules with their respective implementations in go and JS + specs.

### Supporting Modules

- **multiformats**
  - multihash [spec](https://github.com/multiformats/multihash)
    - multihash impl [JS](https://github.com/multiformats/js-multihash) [go](https://github.com/multiformats/go-multihash)

[2016-09-26 02:50] flyingzumwalt commented on #177
@RichardLitt where does this info belong? It's relevant to ipfs, libp2p and multiformats.

[2016-09-26 10:13] pawal opened #178 "33c3 - Chaos Communication Congress Dec 27-30 2016"
Is there enough interest to have a meetup at 33c3 in Hamburg?

[2016-09-26 10:15] pawal commented on #134
[RFC 5218](https://tools.ietf.org/html/rfc5218), "What Makes for a Successful Protocol?".

[2016-09-26 13:13] RichardLitt commented on #177
This should probably be here, in community, I think. The first step towards building IPFS in a different language is through getting community support. We can add this stuff as a guide: "How to implement IPFS in your favorite language".

Let's pull this into a document here; sound good?

[2016-09-26 14:14] dignifiedquire commented on #178
@lgierth wants to come and myself, I guess others as well, so we could think about it.

[2016-09-26 18:38] RichardLitt commented on #173
Updated. How does this look?

ipfs.io/ipfs/QmR2tpzoKvZheNBwEPGFWPsb6N2SQpCJntiZqJrk75KNu5

[2016-09-26 19:10] RichardLitt commented on #173
Done! See the keypoint and PDF here.

https://ipfs.io/ipfs/QmbkWejNBywf51afx8iiLXfL2U2q17ajqW5vLShy7JHeYx

[2016-09-26 19:37] lgierth commented on #173
Looks pretty good to me! The footer still has a stub email address

[2016-09-26 19:39] RichardLitt commented on #173
Good catch!

[2016-09-26 22:09] nicola commented on #173
(off-topic: shall we host either a dinner at my house (if we are few) or drinks for IPFS peeps in Boston, the night before?)

[2016-09-27 00:17] RichardLitt commented on #173
@nicola That sounds good to me! That's on-topic, I would say. When works for you? Maybe the 3rd, though; I arrive late on the 2nd.

[2016-09-27 04:27] flyingzumwalt commented on #173
@nicola That sounds wonderful! Will you be able to come to the poster session? I'm trying to figure out the best time to let you converse with the people who designed their LDP implementation.

[2016-09-27 15:11] flyingzumwalt opened #180 "Collab with/support the people putting IIIF on IPFS"
The work to put IIIF on IPFS (ie. [go-iiif](https://thisisaaronland.github.io/go-iiif/)) could open the gates to all the big cultural institutions ([British Library, Bibliothèque nationale de France, the Getty, all the big universities...](http://iiif.io/community/)) storing and serving all their image collections from IPFS. That would be huge for IPFS.

Some of his work:
* https://github.com/this

[2016-09-27 15:13] flyingzumwalt commented on #180
Moved to https://github.com/ipfs/notes/issues/170

[2016-09-27 15:13] #180 closed

[2016-09-27 16:47] sdellis commented on #173
❤️   I know I'm late to the game here, but I just want to express my excitement that you are all presenting this at Hydra Connect!  I won't be there, but colleagues of mine will, and it would be great for them to hear about IPFS from someone other than me! 😄

And from my conversations at work, for us to even consider IPFS as a preservation alternative, any vendor of IPFS solutions will need to "gu

[2016-09-27 16:56] flyingzumwalt commented on #173
Thanks for the tip Shawn. I'm looking forward to it too.  Good point about the wording, but it's already been sent off to the printers.

[2016-09-27 17:15] Kubuxu commented on #173
@sdellis the tool you are looking for is ipfs-cluster, unfortunately it doesn't exist yet but we are thinking about it. https://github.com/ipfs/notes/issues/58

[2016-09-29 01:51] lgierth opened #181 "Get #ipfs featured on botbot.me"
There's a list of featured channels on https://botbot.me/, which we use for public logging of #ipfs.

[2016-09-30 20:37] RichardLitt opened #182 "Add 2016 Events to README"
Self explanatory. Assigning to myself. :)

[2016-10-04 20:27] dignifiedquire commented on #149
Really nice api docs: https://www.mapbox.com/mapbox-gl-js/api/ generated using documentation.js

[2016-10-04 21:42] lgierth commented on #178
Yes I'd say we should have an assembly and workshops and lightning talks again. We also submitted a lecture talk on the Ethics/Society/Politics track.

[2016-10-05 14:49] flyingzumwalt commented on #173
The poster was well received and @flyingzumwalt's lightning talk was very well received.

Notes for future presentations:
* Don't assume that people know how big IPFS is. One person thought that it was just a random idea some guy at a library wants all the libraries to use.
* Make sure to tell people about the big, active, exciting, innovative community, and tell them where to find it.
* The "thin

[2016-10-06 18:21] peterVG commented on #173
Great to see IPFS project reaching out to library and archives community like this (see also [https://github.com/ipfs/notes/issues/170]). As @sdellis points out above, IPFS-cluster (or something like it, e.g. pin whitelists) will be needed before any of these institutions should consider it for long-term preservation storage. Of course, IPFS for access copies is ready to rock today.

The iPres dig

[2016-10-06 18:31] flyingzumwalt commented on #173
Thanks for sharing that Storage Criteria document @peterVG. That's super useful!

[2016-10-10 16:53] dignifiedquire opened #183 "Involve more people in the community in the release cycle, trying and testing out new features"
We want to give a voice to the fact that we are giving a lot of thought to community process. From decision making process, to engagement in sprint calls we want to improve and get better.

This is the place to discuss anything related to this.
##

This is issue was opened in reference to the sprint call on 10/10  https://github.com/ipfs/pm/issues/217

[2016-10-10 18:43] RichardLitt commented on #173
This was great! Was super awesome to be at Hydra. @flyingzumwalt Anything we should add, before we close this?

[2016-10-10 18:49] RichardLitt opened #184 "Tokyo Meetup in Novemeber"
I will likely be in Tokyo in November. Would anyone in the area be interested in an informal IPFS meetup?

[2016-10-12 17:24] chadoh opened #186 "NYC Study Group in October"
I gave a talk two weeks ago at NYC React that spent a lot of time discussing IPFS: https://www.youtube.com/watch?v=wxDn1XMVwNE

One of the attendees of the talk (@bruno78) expressed interest in starting a study group to explore Distributed Web & related tech in more depth. I suspect there could be strong support for such a group in NYC! For the first meeting, I was thinking it would be awesome to

[2016-10-12 17:26] chadoh commented on #186
btw: I'd love feedback on ways I can improve my talk! I'm sure there are things I missed.

[2016-10-12 17:44] flyingzumwalt commented on #155
nudge @nicola

[2016-10-12 19:12] flyingzumwalt commented on #186
FYI @jadrian and I are currently running a 10-week distributed web study
group through Code for Philly. It started last week.

About the project: https://codeforphilly.org/projects/dat_tables

Where we're putting all of the study/workshop materials:
https://codeforphilly.github.io/decentralized-data/

After the series, I plan to pull that info together in a Distributed Web
Primer. I sketched an ou

[2016-10-12 19:14] flyingzumwalt commented on #173
I think we're good. This issue kicked up some good discussions and I think we created issues for each of those discussions to continue. Closing this issue.

[2016-10-12 19:14] #173 closed

[2016-10-13 13:37] chadoh commented on #186
@flyingzumwalt your course looks awesome! Who do you see as the target audience for it? (Also, I did not know about Noms and I'm intrigued!)

The target audience for the workshop I'm attempting to organize are people who already have experience building front-end apps on the current web. Which is where I'm at. And I'd like to learn how to deploy a front-end app to IPFS, so a workshop on it seems v

[2016-10-13 14:40] RichardLitt commented on #186
I am also planning on coming up to NYC for this. :) I think October 26th makes more sense; I'm not sure this will fit easily into the React workshop.

[2016-10-13 18:11] bruno78 commented on #186
Your course does look great,  @flyingzumwalt
<https://github.com/flyingzumwalt>! If I were in Philly I'd definitely
would want to join you guys for that! Perhaps we could follow the
guidelines of @flyingzumwalt <https://github.com/flyingzumwalt>'s course
and include the how to upload a front-end app to IPFS. Perhaps once we have
the uploaded app we learn how use noms with it.... :-D

On Thu, Oct 1

[2016-10-17 19:52] flyingzumwalt commented on #186
Hey @chadoh and @bruno78. Sorry for the delay. We were in Quarterly Meetings all of last week.

I like the structure that @chadoh proposes and I definitely want to help you create learning materials for people to use in a workshop like that. The Code for Philly program won't be focusing on distributed apps, so it will only be covering fundamentals. It's just focusing on allowing you to write an IP

[2016-10-19 18:04] RichardLitt commented on #186
@chadoh Listened to your talk today; love it. Great job.

When would be best for this? I can't come up on the 26th - I'm giving a talk in DC that day. The 27th would work with NYC React, you say, but would we be able to have a hackathon around that? Are you still interested in having something happen in NYC?

[2016-10-19 20:18] whyrusleeping opened #188 "Seattle DApp Hackathon with Ethereum and IPFS people 🌐"
@kumavis and I are wanting to plan an ipfs meetup in seattle. Date time and location are still all up in the air, but i'm thinking that it will be some time in november.

More details to follow.

[2016-10-19 20:20] kumavis commented on #188
My family is due to have a baby ~nov 9th, so whooo knows about my availability around then : )

[2016-10-19 20:47] kumavis commented on #188
We could also pair this with the Ethereum meetup crew

[2016-10-19 22:03] whyrusleeping commented on #188
Yeah, a joint Eth/Ipfs meetup would also be pretty cool. Something like "Cascadia Decentralized"

[2016-10-19 23:14] whyrusleeping commented on #188
cc @skylarnorris @flyingzumwalt

[2016-10-20 07:47] flyingzumwalt commented on #188
@whyrusleeping @kumavis have you read through the [How to plan a meetup](https://github.com/ipfs/community/blob/master/how-to-organize-a-meetup.md) guide? It's [here](https://github.com/ipfs/community/blob/master/how-to-organize-a-meetup.md) in the ipfs/community repo but I don't know if anything links to it.  This is a good opportunity to test out that info and see what needs to be added, updated

[2016-10-20 09:06] flyingzumwalt opened #189 "London IPFS Meetup"
Sounds like lots of people in the UK are using IPFS. Let's put together a London IPFS Meetup! If we do it in January 2017 @flyingzumwalt could attend. @edsilv and @irv might you be interested in helping with this? Who else is interested? Who would want to know about this?

If you're interested in this, please chime in on this issue so we know to keep you up to date.

[2016-10-20 11:41] theobat commented on #177
Is there a per-language (excluding JS, Go and python) state of the art channel/discussion already somewhere? I am wondering because I know there are several modules already implemented in several languages but I can't find an exact or concise summary of each. Especially for the languages without a general ipfs directory yet (like java-ipfs or rust-ipfs etc).

Moreover -just out of curiosity- is th

[2016-10-20 11:49] kenCode-de commented on #177
we need IPFS on metal, firmware implementations and i was hoping for a cpp-ipfs...

[2016-10-20 14:08] RichardLitt commented on #189
There was one of these before, too: See #107. We should post in that issue (or close it, and redirect traffic here), and ping the [London Meetup Group](http://www.meetup.com/IPFS-London-Meetup/).

[2016-10-20 16:56] flyingzumwalt commented on #189
Closing this one and redirecting to #107

[2016-10-20 16:56] #189 closed

[2016-10-20 16:57] flyingzumwalt commented on #107
Is anyone interested in organizing another London IPFS meetup? If we do it in January 2017 @flyingzumwalt could attend. @edsilv and @irv, have you attended any of the prior meetups?

[2016-10-20 17:48] kevina commented on #177
I would be willing to write (or help write) something in C++ if there is interest.

[2016-10-20 20:14] VictorBjelkholm commented on #181
Maybe if we ask nicely to @bartTC, @ipmb or @yml, they could add #ipfs to the featured list

[2016-10-20 21:00] ipmb commented on #181
👍

[2016-10-21 00:13] flyingzumwalt commented on #177
@theobat that's a great question! @RichardLitt it looks like we meant to set up a reference page with this info but both forgot! I like @theobat's question about finding existing efforts to implement IPFS in a given language. Are we tracking that anywhere? @whyrusleeping @diasdavid do you know? Does anyone have ideas how we we should track this?

[2016-10-21 09:46] kenCode-de commented on #177
On Wed, Oct 26th 2016 (next week) we begin the c-ipfs implementation.
https://github.com/kenCode-de/c-ipfs

There will be 5 of us working on it to begin with. If you will be contributing, you can also join our skype group if you'd like, so just email me your skype name and I will add you. Please and Thanx! :)

[2016-10-21 10:38] VictorBjelkholm commented on #181
Thanks a bunch @ipmb! 💯

[2016-10-21 11:25] #181 closed

[2016-10-21 14:55] flyingzumwalt commented on #186
@chadoh are you planning to do this in NYC on the 27th? If so, @RichardLitt and I will put it on our calendars.

[2016-10-21 15:07] flyingzumwalt commented on #186
If the training for "Burning Man staff and colleagues" on November 16-18 is compelling, I could probably get us invited. Might be cool, but they will probably dive deep into subject matter that's not relevant for us.

[2016-10-21 16:15] dyba commented on #177
@kenCode-de What time zone are you in and what time will the meeting start on Wednesday? Your Github page says you're located in Germany, is that correct?

[2016-10-21 22:54] dyba commented on #177
@kenCode-de I work during that time. Can you record the Skype conversation? I think recording only the audio should be sufficient so that sharing it isn't an issue.

[2016-10-22 06:41] edsilv commented on #107
I haven't attended any prior meetups, but would be interested in coming to future ones.

[2016-10-22 10:38] ianopolous commented on #107
@flyingzumwalt It would be good to meet you, assuming I can get down from Oxford!

[2016-10-22 16:39] RichardLitt commented on #188
@whyrusleeping happy to have a chat with you about setting it up, if you need help, too.

[2016-10-23 11:40] erlend-sh commented on #69
Just for the record, we (discourse.org) would be happy to [host the IPFS community for free](http://blog.discourse.org/2016/03/free-discourse-forum-hosting-for-community-friendly-github-projects/).

I'm a big fan of the IPFS project and have been casually following it for some time. Today I happened upon the "Community" section of your [docs](https://ipfs.io/docs/) and I found it quite daunting. I

[2016-10-23 18:44] chadoh commented on #186
@flyingzumwalt @RichardLitt Sorry for the delay in response! Unfortunately, this coming week is already the 26th & 27th, and it turns out for personal reasons for be a bad time to come up to NYC overnight. It will continue to be a bad time for me for the entire over-booked month of November. If we stick with trying to meet at the end of a month, that pushes us back to January, which I don't like a

[2016-10-24 17:51] RichardLitt commented on #186
Ah, OK. December 1st or 8th might work; I won't be in the area, however. @flyingzumwalt may be able to come up for that?

[2016-10-24 18:23] em-ly commented on #186
Just want to know that there is currently a soft conflict for both @RichardLitt and @flyingzumwalt for the Dec 8th date - nothing's confirmed yet but want to make sure that's factored into scheduling before things become concrete.

[2016-10-24 18:24] flyingzumwalt opened #190 "Try out discourse.org for Community Forums"
Following up from the discussion here: https://github.com/ipfs/community/issues/69#issuecomment-255583867
- Look into what would be involved in using discourse.org for IPFS community forums.
- Do a trial run -- be careful to minimize confusion in the community during this trial
- Identify benefits & tradeoffs
- Decide whether to officially adopt discourse.org
- Update documentation, etc. according

[2016-10-24 18:33] flyingzumwalt commented on #190
@erlend-sh can you help me set up a trial run? Would you be willing to join a call with IPFS maintainers to talk about the possibility of using discourse.org for ipfs community?

[2016-10-24 18:39] donothesitate commented on #69
**Discourse** is an excellent platform for what is currently missing for IPFS community, a living example is [Caddy Community](https://forum.caddyserver.com/)  forum, that while introducing more noise yields a lot more fruits that would not as easily grow anywhere else.

 Personally I find Discourse easy to navigate, handle, manage, and inline code from github makes managing help a better experien

[2016-10-24 20:39] RichardLitt commented on #177
Let's do it then. :)

I think we are only tracking different efforts on ipfs/ipfs, both in [the README here](https://github.com/ipfs/ipfs#protocol-implementations) and in the issues, where people can check issues (cf https://github.com/ipfs/ipfs/issues/164).

[2016-10-24 21:10] flyingzumwalt commented on #69
We discussed this on today's all-hands call. There is a lot of interest in doing a trial run with discourse to see if it's a good fit for us. See #190 to participate in that experiment and/or to follow along.

[2016-10-24 21:12] RichardLitt opened #191 "Merge ipfs/ipfs, ipfs/community and ipfs/pm"
### Idea

I think we should merge ipfs/ipfs, ipfs/community, and ipfs/pm into one repository.
### Why

There is a lot of feedback going around, here and on IRC, that the GitHub organization is hard to navigate, and it is unclear where to ask questions, where to look for up-to-date information on the community, and where to find information about an implementation and to get a support. We are think

[2016-10-25 09:02] theobat commented on #177
Yeah thanks @RichardLitt , [this readme](https://github.com/ipfs/ipfs#protocol-implementations) is what I was looking for it's a pretty good *per-language overview*, I didn't search thoroughly enough I guess... But as the recent reflections suggest docs and directions could be slightly more centralized... @ianopolous any plans to implement libp2p in Java yet or is it still to be scheduled ?

[2016-10-25 09:18] ian-gtv commented on #177
@theobat I do indeed plan on implementing ipfs and hence libp2p in Java. As it gives once less thing that Peergos users will need to install. Though I probably won't be able to start for another few months.

[2016-10-25 09:30] ianopolous commented on #177
@theobat I do indeed plan on implementing ipfs and hence libp2p in Java. As it gives once less thing that Peergos users will need to install. Though I probably won't be able to start for another few months.

[2016-10-25 18:12] objectchain commented on #107
Hiya all

http://www.meetup.com/IPFS-London-Meetup/

96 members - we held a meetup at the end of the summer - a good evening although everyone would look to be closer to the City next time.

We’d support a Jan’17 IPFS meetup, and be happy to supply the drinks pizza again if required.

Paull

From: Matt Zumwalt [mailto:notifications@github.com]
Sent: 20 October 2016 17:58
To: ipfs/community
Cc: obj

[2016-10-25 18:32] bruno78 commented on #186
Hey guys,

What happened yesterday was one more reason to learn the depths
of decentralized Internet. I wish we could have an entire course like
Matt's.

On Fri, Oct 21, 2016 at 11:07 AM, Matt Zumwalt <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

[2016-10-25 18:52] flyingzumwalt commented on #186
@bruno78 I'm working on it!

[2016-10-25 19:28] skylarnorris commented on #188
@whyrusleeping and @RichardLitt if you two could have an initial call, that would be super helpful.  @RichardLitt is more familiar with setting up Meetups and will have more insight (I'm still learning, so this is a good chance for me to follow along and help where I can).

[2016-10-25 21:33] kumavis commented on #188
fyi, Seattle ethereum meetup is doing an event  Nov 7th where Digix will be speaking
would be nice if the ipfs meetup doesnt conflict

[2016-10-25 22:51] erlend-sh commented on #190
Sure! Just sign up on [the form here](http://blog.discourse.org/2016/03/free-discourse-forum-hosting-for-community-friendly-github-projects/).

I *might* be able to join a call this week if we manage to schedule something for Wednesday or Thursday. I'm in GMT+1. Find my email on my profile and get in touch!

[2016-10-26 15:02] RichardLitt commented on #188
Could we contact the Etherum people about doing a double bill?

[2016-10-26 17:13] kumavis commented on #188
@RichardLitt  certainly

[2016-10-26 17:29] kennyrowe commented on #188
Richard, I also have another option if the 15th will not work for some reason

[2016-10-27 03:32] meyerscr commented on #186
Is there a mailing list or is this the extend of the organizing? I worked with nycmesh.net, and we're very interested in ipfs.

[2016-10-27 14:37] RichardLitt commented on #186
@meyerscr This is it; no mailing list at the moment. You can always catch us on IRC, too, for live conversations.

[2016-10-27 15:17] meyerscr commented on #186
Cool. Thanks. I'll try to be at the next one. What's the IRC?

[2016-10-27 15:19] RichardLitt commented on #186
#ipfs on Freenode. :)

[2016-10-27 15:29] RichardLitt commented on #188
@kennyrowe I think @whyrusleeping would be doing the talk; I'm currently traveling on the east coast. @whyrusleeping Want to give a talk here?

I can help out with assets or planning for a combined meetup, if you need any help. @CRekhow and I set this up in Boston a couple of months ago, https://www.meetup.com/Boston-Ethereum-Enthusiasts/events/230202901/. Also available via phone - dm me on twitt

[2016-10-27 17:29] kennyrowe commented on #188
@RichardLitt sounds good. @whyrusleeping I've got a room booked for Nov 15th at Beacon Hill Library 6:30 - 7:45. Will that work for the meetup?

[2016-10-27 17:38] flyingzumwalt commented on #191
This idea has grown on me. Consolidating those 3 repos into one ipfs/ipfs sounds like a good idea.

Some things that reinforce the idea:
* I don't see any content or issues in any of those repos that _needs_ to be kept separate.
* This will route visitors to one landing page with lots of supporting reference pages
* Maintenance of the Roadmaps will become clearer (ie. I didn't realize there is an

[2016-10-28 15:14] dignifiedquire commented on #149
I just discovered https://github.com/Kegsay/flow-jsdoc which allows us to write jsdoc, but transform those into flow types for the flow type checker to check. It's not feature complete but should be easy enough to hack on all things we need. This would give us the benefit of using a non obtrusive way of documentation (jsdoc) + type checking our code to improve code quality.

[2016-10-28 19:14] diasdavid commented on #149
@dignifiedquire that looks cool indeed!

How will we go to try the different options? Will you port some repos and generate some pages for the rest of the JS folks to try and experiment with?

[2016-10-28 21:07] dignifiedquire commented on #149
Not sure yet. There are actually not that many options currently that seem to be viable given the tooling support.

The resulting documentation should be pretty similar no matter what we choose and will design a custom theme for us that fits into the ipfs.io homepage as the current themes for jsdoc and documenation.js are not overwhelmingly good.

[2016-10-29 05:55] diasdavid commented on #178
# It is that time of the year!

![image](https://cloud.githubusercontent.com/assets/1211152/19827495/52818586-9da4-11e6-98f4-724c301d925c.png)

# Who is coming this year?

If you are coming this year, make sure to post in this issue :)

# Make sure to get your tickets

Tickets do SOLD OUT, make sure to pay attention to batch ticket sales and get yours:

https://events.ccc.de/2016/10/16/33c3-ticket

[2016-10-29 11:29] pawal commented on #178
I am coming (already booked everything), and will definitely join any workshops related to IPFS. Not sure about joining the assembly, but I will definitely want to hangout there for a bit.

[2016-10-29 11:54] cryptix commented on #178
Got my ticket and I will be there. ;)

[2016-10-29 13:08] ralphtheninja commented on #178
Haven't planned on going this year. But if someone has a spare ticket and a place where I can crash I might change my mind :D If not, ya'll have an amazing time!

[2016-10-29 18:19] Kubuxu commented on #178
@diasdavid you forgot to include me.

[2016-10-29 18:25] diasdavid commented on #178
<3 <3 <3 @Kubuxu

[2016-10-29 18:34] noffle commented on #178
I'd *love* to come, but I'll be traveling during this time! :cry:  Have a blast!

[2016-10-29 19:09] flyingzumwalt commented on #178
I'll be there.

[2016-10-29 23:53] mafintosh commented on #178
Also going

[2016-10-30 08:48] watson commented on #178
I'm going of cause - still need to get a hold on a ticket. When does the next batch go on sale?

[2016-10-30 20:05] diasdavid commented on #178
@watson: @lgierth has an eye on the next batch and will get a bunch. @lgierth are you getting a couple of extras this year?

[2016-10-30 22:32] feross commented on #178
Going to try to nab a ticket!

[2016-10-31 00:03] flyingzumwalt opened #192 "Watch the IPFSChan effort & Identify any Points of Pain for IPFS Implementations Like Theirs"
The notes on https://pad.riseup.net/p/judgement-day include a thorough technical assessment of what it would take to build a 4chan clone on IPFS (at the moment the IPFS notes start on line 98).

These notes are a great reference document for seeing what it takes to implement IPFS on a large scale. We should use this as an opportunity to clarify our understanding of the "critical path" for  IPFS ad

[2016-10-31 19:01] RichardLitt commented on #188
Ping @whyrusleeping

[2016-10-31 19:06] whyrusleeping commented on #188
I don't think I will be available that weekend. I will report back once my schedule for this month settles down...

[2016-10-31 19:08] kennyrowe commented on #188
@whyrusleeping ok if that doesn't work should we look at December dates?

[2016-11-01 09:05] diasdavid opened #194 "FOSDEM 2017"
![image](https://cloud.githubusercontent.com/assets/1211152/19884530/058aed74-a012-11e6-9828-e57c78644672.png)

**Who is going to FOSDEM next year?**

I personally love FOSDEM, it is huge, a massive crowd, but it has tracks with content that you don't see in most conferences. You can see the panoply of tracks available at: https://fosdem.org/2017/schedule/

[2016-11-01 18:37] RichardLitt commented on #194
I could go! Would probably have to stay in Europe after CCC.

[2016-11-02 02:34] lgierth commented on #192
text mirror: https://ipfs.io/ipfs/Qmeaod9hstM7ni13GFxrc4oWZMKpMnT9eJotpusPNqBHWk

[2016-11-05 19:15] flyingzumwalt commented on #190
Who wants to help us configure discourse and try it out?
Who is interested in being moderators?
What content should we set up as "seed" data to give this a trial run?

The trial site is up at http://ipfs.trydiscourse.com/

[2016-11-05 19:27] dignifiedquire commented on #190
I'm going to be around and try my best :)

[2016-11-05 19:36] donothesitate commented on #190
I might put a hand or so in it, not all time though.  I would like a category in-between commoners and moderators. Moderators give impression that they directly represent IPFS.
As for seed, there should be definitely some categories to keep stuff organized:
- Help
- How-To

(To be revised when I have more ideas)

[2016-11-05 20:28] dignifiedquire commented on #190
Just added some categories, now seeing your post @donothesitate :)

I have most of them, except for `coding`. I am not sure we want that category as we still want bug reports etc to go to github.

[2016-11-05 20:29] dignifiedquire commented on #190
@RichardLitt let's sync up when you are around on what important things we should copy/link into there as you have the best overview of currently existing content.

[2016-11-07 17:30] flyingzumwalt opened #195 "Propose Demos for Weekly All-Hands Here!"
We've allocated time for Demos on the Weekly All-Hands call. What should be showcased there? Who should we invite to give demos?

Add comments here if you have ideas, or if you would like to give a demo.

[2016-11-07 17:32] flyingzumwalt commented on #195
Should we invite people from [awesome-ipfs](https://github.com/ipfs/awesome-ipfs)?

[2016-11-07 17:32] VictorBjelkholm commented on #195
Feels like this should be a little bit tied to awesome-ipfs. At least we can invite the people who create stuff that goes into the list to talk about their own thing.

Also, people from the things mentioned here: https://github.com/ipfs/awesome-ipfs/issues/65

[2016-11-07 17:53] keks opened #196 "Should we use a different collaborative note-taking tool than Etherpads?"
This just came up in the all-hands call.

Etherpads have been the go to solution for collaborative notetaking, but there reasons we might want to have some other solution.
1. Formatting. Instead of saying "This is heading 1" you can only say "This is bold and underlined". This does not represent semantics very well.
2. It's centralized. I mean, c'mon. Seriously?

Let's discuss our options!

[2016-11-07 18:01] keks commented on #196
@dignifiedquire mentioned [ipfsbin](http://ipfsbin.xyz). Obviously it wins at point 2, but it also doesn't give us strong formatting. Also it does not allow etherpad-like live collaborative editing.

@flyingzumwalt said he used [Confluence] before, which let's you choose between a WYSIWYG and some markup language. This one has good formatting but is also centralized and can not do etherpad-like co

[2016-11-07 18:05] VictorBjelkholm commented on #196
I think the feature of etherpad is really nice, that you can (if you want) collaboratively work on them together and at least see the changes live together.

I think our current solution is not that bad actually, to write the notes during the meeting in etherpad over at mozilla.org and the paste it into Github so we can keep it in SCM. Is there a reason this doesn't work anymore?

Formatting issue

[2016-11-07 18:07] lgierth commented on #196
Gonna suggest https://cryptpad.fr

[2016-11-07 18:13] dignifiedquire commented on #196
HackMD looks to  me to have everything we like on etherpads, but with a nicer UI

[2016-11-07 18:16] flyingzumwalt commented on #190
We hit the limit of 5 "staff" right away. I emailed @erlend-sh to clarify about this. Here's his helpful explanation (I probably should have just asked him on here!):

[2016-11-07 18:23] flyingzumwalt commented on #196
I just want to clarify that the discussion here is not about where to publish notes. It's about what tool to use to take the notes collaboratively in real time while meetings are happening.

We _Publish_ notes for all meetings here: https://github.com/ipfs/pm/tree/master/meeting-notes

Currently we write those notes in etherpad and then the notetaker is responsible for posting those notes to githu

[2016-11-07 18:25] VictorBjelkholm commented on #196
Before we discuss what tool to use, can we agree that what tool we're using now is actually not good-enough? Formatting is a thing no tool will automagically will fix for us.

[2016-11-07 18:30] flyingzumwalt commented on #196
HackMD looks great!

Problems with etherpad that I've found painful
* Doesn't render well on mobile devices -- and almost impossible to edit from mobile
* Needs a real-time HTML preview -- this would encourage better formatting and make the notes/agenda easier to read during meetings

HackMD handles both of these really well.

[2016-11-07 18:58] keks commented on #196
Thanks for all the feedback! TBH I'm not yet too familiar with the pm workflow, just started joining the calls if I can a few weeks ago and had no idea notes were published on Github and the pads are volatile.
I think HackMD is actually suited much better for our use case because you get a Markdown preview that will look quite similar in Github.

Anyway, I'd love to see both the source code versio

[2016-11-07 19:05] lgierth commented on #178
@ralphtheninja @watson I'm trying to grab tickets for you two

[2016-11-07 19:06] mafintosh commented on #178
@lgierth could you grab one for me also?

[2016-11-07 19:08] lgierth commented on #178
ok sure

[2016-11-07 19:19] lgierth commented on #178
Will have to try again next batch -- all sold out and I didn't get through the waves of 504.

[2016-11-08 14:23] VictorBjelkholm opened #197 "[JavaScript] Greenkeeper - Yay or Nay?"
There have been some concerns with Greenkeeper being to noisy and getting in the way of people rather than helping.

Greenkeeper is a service that basically helps us to always be on the latest version of a dependency and sends us a pull-request when there is a update. This runs our CI and usually gives us a indication if we can update directly or if it requires work to get there.

However, since w

[2016-11-08 14:50] VictorBjelkholm commented on #194
I've never been but only heard good things about FOSDEM but all the tracks are empty at this moment so hard to judge if worth going (for the talks at least).

[2016-11-08 14:52] VictorBjelkholm commented on #192
Is there any more associated material for this? An 4chan thread or something, or where this initially comes from?

[2016-11-08 15:18] VictorBjelkholm commented on #196
@flyingzumwalt indeed, it does look very good. The mobile point and the live html preview are good points (etherpads non-mobile UI have bitten me before in the past) and after trying it out lightly, I would be happy to try out to use Hackmd instead etherpad for future calls.

[2016-11-08 20:16] xicombd commented on #194
I'm in 🎉

[2016-11-10 06:26] RichardLitt commented on #195
I would love to see the IPFS Pics people come and talk about their work. Also, I would like to know more about Mesh networks and if they use IPFS at all (@lgierth?).

[2016-11-10 06:27] RichardLitt commented on #178
@lgierth Can we help with that?

[2016-11-10 06:29] RichardLitt commented on #197
I made a CLI tool to remove all greenkeeperbot-io notifications from my feed automatically,  https://github.com/RichardLitt/ignore-github-users, specifically because of this problem. BUT I think the need it solves is actually worth the effort. If you're not working on a repo, turn off notifications - if you are, either use a tool like I do, or find some other way to cut down on the noise.

But I a

[2016-11-10 08:29] Kubuxu commented on #197
As I don't use green keeper at all, I have greenkeeper as a blocked user. This way I get the update notification only once instead of twice, created and merged/closed.

@RichardLitt thanks for the script.

[2016-11-10 08:34] RichardLitt commented on #196
Hey @keks! Awesome issue, thanks a ton.

### Markdown editing

I don't understand this. We use Markdown in the text - the only issue is that there isn't a preview. It looks like Cryptpad allows a ton of other options through it's WISYWIG editor. However, these won't port over to GitHub, which is where we generally post our notes. They can be seen using GitHub markdown, both in the issues and throu

[2016-11-10 09:59] RichardLitt commented on #183
Thanks, @dignifiedquire. Can you give a bit more context? Is this an issue to log complaints, or pain points, or to track notes in docs about how to join in?

[2016-11-10 11:45] keks commented on #196
Hey @RichardLitt, thanks for the feedback.

Like I said before, I wasn't aware that the notes are posted on Github after the call. Obviously Markdown does formatting the way I like it, but I like already having the formatting during the call so it's easier for non-notetakers to follow the notes as they are written. I often feel lost when looking at etherpads, but maybe that's just me.

Now that I

[2016-11-10 13:09] VictorBjelkholm commented on #195
Yeah, maybe @cloutier is interested in participating next Monday calls to talk about IPFS Pics?

[2016-11-10 13:18] RichardLitt commented on #196
It's not just you. I think one of the reasons for this is that we tend to split between the notes and the agenda, but that may be a separate topic.

I like this very much.

Ok. Let's try HackMD this next week.

[2016-11-10 18:38] dignifiedquire commented on #196
I would like to suggest https://beta.cryptpad.fr/ Which is made by some cool people and an encrypted version of a collaborative editor.

[2016-11-10 18:47] keks commented on #196
Yeah the authors are great people and I love the tool. I've been using it a few times in the last months.
However, I stand by my points that (a) ipfs notes are public and don't require encryption and (b) even if you encrypt everything, this doesn't give you anything if you post the key at untrusted places (like a github issue since that is basically public).

While it doesn't support Markdown prev

[2016-11-10 19:45] VictorBjelkholm commented on #196
@dignifiedquire cryptpad seems to be a wysiwyg rather than markdown editor with preview though. Not sure if that's helpful since we paste the text into Github issues, but maybe it's just me who can't find the edit mode with markdown in cryptpad.

[2016-11-11 05:56] RichardLitt commented on #149
@dignifiedquire I could help you out by going through and documenting one of the repos in a fork, see how it looks?

[2016-11-11 11:07] dignifiedquire commented on #183
The main goal for now is to figure out how we can improve the feedback cycle with the community, such that it feeds better into the decisions we make on a day to day basis.

I think @diasdavid has some more  notes on what exactly he wants to see here happening as well.

[2016-11-11 11:11] haadcode commented on #149
I did some tests with documentation.js and orbit-db, see the results here: https://github.com/haadcode/orbit-db/tree/documentation.js/docs. I'm not extremely happy with it: some of the jsdoc annotations don't work out of the box and I feel generally it's a little messy.

[2016-11-11 13:06] lidel commented on #196
@VictorBjelkholm  I was able to create Markdown one under `/code/` version:
https://beta.cryptpad.fr/code/#/1/edit/JaZJYrbdat9PM5uuefrAEw/LRrI68Xe3oLvAyWVtQSW1We2
There is no preview tho.

[2016-11-11 16:07] dignifiedquire commented on #149
@haadcode any ideas what else we could do?

[2016-11-11 17:29] haadcode commented on #149
@dignifiedquire I ended up writing the API docs manually for Orbit and orbit-db's modules. That was quicker and yielded results I'm happy with. I don't expect drastic API changes in those modules, so for now I'm gonna stick with that and if there are API changes in code we just need to make sure those changes are documented.

At the moment I'm not convinced automating the documentation is worth th

[2016-11-12 02:35] lgierth commented on #178
Yes help ordering is probably appreciated -- the other two sale dates are 19-Nov 2pm utc, and 25-Nov 9am utc, so ping me whoever wants to help pressing F5

[2016-11-12 16:16] flyingzumwalt opened #199 "Top Topics that Need Better Documentation"
We get a constant stream of questions about certain topics -- in emails, Github Issues, conversations on IRC, face-to-face exchanges, etc.  This is a sign that we need to do a better job of documenting these topics, putting answers in the places where people will find them, and providing ways to follow ongoing work in these areas.

## Topics to Document

We should check each of these off **when th

[2016-11-12 16:19] flyingzumwalt commented on #199
Please help gather links to the existing info on these topics -- in comments on this issue please add links to existing Github Issues, papers, API docs, Milestones, etc. so we can figure out the best way to present a list of resources and recommended reading.

[2016-11-12 16:59] lidel commented on #199
Some discussions about  **Deleting Content You've Added to IPFS**:
- editing/deletion of content and power dynamics:  https://github.com/ipfs/faq/issues/156
- Can I delete my content from the network? https://github.com/ipfs/faq/issues/9
- editing/deletion of content by another PC https://github.com/ipfs/faq/issues/169
- https://www.reddit.com/r/ipfs/comments/57iig8/how_does_ipfs_keep_content_i_ha

[2016-11-13 08:58] RichardLitt commented on #178
Added that date to my calendar. Let's do this.

[2016-11-13 13:12] ribasushi commented on #178
@lgierth and others: I have an outstanding order for **2** tickets, in `payment pending` state, with payment of **EUR200** due by **Nov 17th**. Apparently the folks I got the tickets for got them elsewhere, so if you are interested: email me or dm me on twitter or whatever works for you.

Cheers

[2016-11-14 10:04] ribasushi commented on #178
Preorder email forwarded to @watson, which leaves me with no spare tickets. See you all after xmas!

[2016-11-14 17:56] RichardLitt commented on #196
@haadcode HackMD can be found [here](https://github.com/hackmdio/hackmd). I've prepared this issue text:

We could also go check out their gitter channel. What do you think? Should I post this?

[2016-11-14 18:10] VictorBjelkholm commented on #196
@RichardLitt that sounds good to me! We could also just ping the folks under https://github.com/orgs/hackmdio/people and see if they can leave some input here :)

[2016-11-16 14:08] dignifiedquire commented on #149
With the amount of modules that we have to document and ensure a high quality of documentation I don't feel comfortable with sth that is not automated. With jsdoc we have the ability to enforce documentation (through linting) and check on every PR on every module if there is a base level of documentation. I know this does not guarantee good docs but it raises the required base level. Writing good

[2016-11-16 15:19] dignifiedquire commented on #149
<img width="848" alt="screen shot 2016-11-16 at 16 18 27" src="https://cloud.githubusercontent.com/assets/790842/20352677/68b2a22c-ac18-11e6-9df8-a33e73be869e.png">

it seems for documenting callbacks documentation.js does a better job as you can see from the above screenshot.

[2016-11-16 15:46] RichardLitt commented on #196
I think that HackMD worked great. Shall we use it for the next sprint, again?

If people say yes, I think I can go through and update our docs to use HackMD instead of etherpads going forward.

[2016-11-16 19:20] thisconnect opened #200 "Evolution of js-ipfs (Visualization)"
Fonud this by accident https://www.youtube.com/watch?v=rfMk1mSobMY

[2016-11-16 19:28] em-ly commented on #196
Yes to using it for the next sprint - this is a great tool.

Thanks for the recommendation @keks!!!

[2016-11-17 08:54] diasdavid commented on #194
@ara4n will be also attending FOSDEM next year 🎉🎉🎉

[2016-11-17 08:55] diasdavid commented on #194
@VictorBjelkholm true and it takes a bit for the schedule to be up, nevertheless you can get a feeling, specially for the dedicated tracks like SDR, by looking at last year schedule:

https://archive.fosdem.org/2016/schedule/track/software_defined_radio/

[2016-11-17 09:00] diasdavid commented on #194
@sericaia and Pedro are also joining 🎉🎉🎉

[2016-11-17 10:08] diasdavid commented on #200
Pretty cool! :D THank you

[2016-11-17 10:21] VictorBjelkholm commented on #196
Since we agreed to use a different tool, let's close this off :) Thanks everyone!

[2016-11-17 10:21] #196 closed

[2016-11-17 14:50] RichardLitt commented on #200
This is fascinating!

[2016-11-17 19:02] ryobg commented on #199
Hello,
I may intrude, but since I read the whole issue list you can see my notes (maybe run semantic tagging?):
* Addding two more for **Private Content:**
  * Access Control ipfs/faq#126
  * File encryption built into IPFS? ipfs/faq#116
* I propose topic for **Similarity with other systems:**
  * What type of apps would not be a good idea to build on top of IPFS? ipfs/faq#1
  * How does IPFS comp

[2016-11-18 12:53] pyhedgehog commented on #190
ipfs.trydiscourse.com has following disadvantages:
 1. It doesn't support anonymous posting/commenting.
 2. It doesn't support https, so it's unreasonable to send email there to register.
 3. Anonymous emails (i.e. mailinator) not allowed.

It's vicious circle.

[2016-11-18 14:06] flyingzumwalt commented on #190
@erlend-sh is it possible to enable https? How about anonymous posts?

There are pros and cons to anonymous posts, but it would be nice to have the option of enabling it.

Note: we will still use IRC, so there is still a path for communicating with the maintainers and the community anonymously.

[2016-11-18 14:41] hsanjuan commented on #190
I've seen a few discourses under https. Maybe trydiscourse.com does not offer that option though because it's just a testing site. As a side note, github does not allow anonymous posting either so it's pretty much the same on that front.

[2016-11-18 15:49] pyhedgehog commented on #190
Github doesn't leak user emsils via http.

[2016-11-18 17:50] erlend-sh commented on #190
Yes, if you start using your own domain we can set that up for you.

Yes. To enable it search for `allow anonymous posting` in your admin panel. Of course, [for true anonymity you have to take additional precautions](https://meta.discourse.org/t/options-for-truer-anonimity/51259/2?u=erlend_sh).

p.s. I'm signed up to your forum and will be easier to reach through a mention or PM there; I check my

[2016-11-18 19:14] RichardLitt opened #201 "Apps on IPFS Call"
We've recently added the **Apps on IPFS** call back onto the weekly sprint calls on Monday. Nominally, this is about all apps on IPFS - at the moment, however, it is mostly a call for @haadcode to talk about Orbit.

It would be great if we could make it more than that! So, I have some questions for you: are there other apps on IPFS that you think ought to have a call? Would any other apps on top o

[2016-11-19 20:24] noffle commented on #201
`ipget` is [very close](https://github.com/ipfs/ipget/issues/18) to a 1.0.0 release. I could talk a bit about that and see if it encourages contributions.

[2016-11-20 00:40] ribasushi commented on #178
https://botbot.me/freenode/ipfs/2016-11-19/?msg=76734709&page=6

Ouch :/

So how many tickets are missing still? People could help still at the last sale you know...

[2016-11-20 10:39] kenCode-de commented on #177
Implementation in C is now underway: https://github.com/ipfs/ipfs/issues/164

[2016-11-20 21:34] pjz commented on #201
I've got a paid IPFS pinning service about ready to beta.

[2016-11-20 22:34] lgierth commented on #178
Thanks @ribasushi!

Unfortunately we don't have any tickets yet for anyone in the IPFS team. We'll talk about how to proceed tomorrow in the sprint calls.

[2016-11-21 07:28] diasdavid commented on #127
Just as a heads up to everyone that has attended in the past to IPFS meetup, me @lgierth @haadcode and @hsanjuan will be at http://www.dapphack.org/ this week, join us for the hacking! :) (+ I heard there will be some quite fine beers!)

[2016-11-21 11:52] RichardLitt commented on #201
@noffle That sounds good to me. Want to add it to the agenda here? https://github.com/ipfs/pm/issues/258

@pjz Would you be interested in talking about it on the ops call, today?

[2016-11-21 15:07] pjz commented on #201
Sure; the ops call is at noon EST, correct?

[2016-11-21 15:09] RichardLitt commented on #201
The All Hands call is at noon; would be great to have a demo in that call, as we normally open it up for demos after getting through the main agenda items. The Apps on IPFS call is a bit later - 1:30 EST - where it would be awesome for you to ask questions, talk about dev issues, or otherwise contribute. :)

[2016-11-21 15:13] pjz commented on #201
I'll try and make one or both, aiming for at least the Apps on IPFS call.

[2016-11-21 18:45] RichardLitt commented on #188
Yeah! @whyrusleeping would December work?

[2016-11-21 18:50] kumavis commented on #188
im gone dec 20->jan 3
free early december

[2016-11-21 19:39] diasdavid opened #203 "Nov 25-27 Berlin - DApp Hackathon and unConference about decentralised systems"
Hi @ipfs/community!

We (me, @lgierth @haadcode and @hsanjuan) will be hanging out at the next DApp Hackathon in Berlin.

DAppHack is an informal hackathon with a great focus in decentralised and distributed technology, people from the ethereum and IPFS communities will be there and available to answer questions and get everyone set up.

We are preparing a workshop as one of the sessions for this

[2016-11-21 19:43] diasdavid commented on #203
### Preparations for the Worskhop

#### Proposed schedule:

- Quick intro to IPFS and the distributed Web - I’m happy to do it
- go-ipfs hands on
  - Installing
  - Using the CLI
  - Using it programmatically (through the IPFS package)
  - What go-ipfs has to offer
  - How to read the documentation and ask questions
  - @lgierth @hsanjuan can you handle this one? @lgierth it will be a good time to

[2016-11-21 22:25] noffle commented on #201
@RichardLitt Oops, I wasn't fast enough to see your comment. I'll add myself for next week.

[2016-11-21 23:57] RichardLitt commented on #201
No worries! Catch you then.

[2016-11-22 12:09] diasdavid commented on #178
Let's organise so that we can all be at the same time trying to buy tickets when the next batch is released, we now know there is a limit of 2 max per person, @lgierth can't buy them all at once.

@lgierth when is the next batch released?

[2016-11-22 12:25] ribasushi commented on #178
Next (and **LAST(!)**) batch happens [this Friday 10am Berlin time](https://tickets.events.ccc.de/33c3/). It would really help to know how many tickets are needed, as over-purchasing would be a shit-thing to do, especially given this is the last round.

@lgierth please get an actual count, then folks can report back here as soon as they have secured the pair they were trying to nab.

[2016-11-22 12:30] watson commented on #178
I'll be online trying to get more tickets and I'll see if I can recruit others to do the same. How many do we need?

[2016-11-22 13:56] hsanjuan commented on #178
I don't think there will be a problem re-colocating tickets if we have too many. Everyone just try to buy 2.

[2016-11-22 15:24] diasdavid commented on #178
To make the process faster and increase our chances of success, @watson made some very good questions, namely:

- Which will be the information required for the form? Getting that ready in advance for C&P will make things easier
- How do they check that we are reaching the ticket limit per person? Is it through Credit Card number?
- Do they only accept Credit Card? What about PayPal or Bitcoin?
-

[2016-11-22 16:11] ribasushi commented on #178
@diasdavid During the **first** round (when I got tickets for myself and subsequently @watson ) all that was needed was a working email address. The payment / info / etc is all taking place asynchronously (one has 7 days to pay).

I am not sure if the current last round will require payment on the spot, but given the strong preference for bank transfers, I don't see how instant-pay is possible any

[2016-11-22 19:48] pawal commented on #178
@ribasushi @diasdavid I have never payed directly online for a congress ticket, only with bank transfers. During the voucher sales the process was exactly the same as for previous years, and I have no reason to believe they have changed anything.

As for the other payment methods, from the FAQ:

[2016-11-23 13:24] feross commented on #178
I decided I can't make it anymore. See you guys at CCC 2017!

[2016-11-23 15:01] watson commented on #178
Ok, so probably you just need a working e-mail address. Maybe they track your session as well, but it does sound like you could order multiple sets of 2x tickets if you run different browsers and enter different e-mail addresses.

And since it sounds like we don't have to pay up front, we shouldn't have to worry about ordering too many tickets either. So let's just get as much as we can 😃

[2016-11-23 16:02] chriscool commented on #194
Yeah the FOSDEM is great!
This year there is also the Git Merge in Brussels on Feb 2 and 3, so just before the FOSDEM.
I will be at the Git Merge, but unfortunately I will have to leave early on Feb 3 so I will not be able to attend the FOSDEM this year.

[2016-11-23 16:02] chriscool commented on #194
http://git-merge.com/

[2016-11-23 16:13] chriscool commented on #194
By the way about the Git Merge there is a (unconference style) contributor summit on Feb 2 that is not mentioned on the web site.

[2016-11-23 17:24] RichardLitt commented on #178
@feross You do you. You'll be missed!

[2016-11-23 17:42] ralphtheninja commented on #178
Same here. See you in 2017 :)

[2016-11-23 18:18] ribasushi commented on #178
@watson That would be a rather shitty thing to do, as it would lock out those who want to go, but couldn't manage the queue: after all tickets **are** limited (due to venue capacity).

This is why I kept asking @lgierth how many tickets are roughly still missing...

[2016-11-23 19:00] diasdavid commented on #178
Probably that is what is already happening, someone is locking all the tickets.

[2016-11-23 20:59] watson commented on #178
@ribasushi I agree, I'm not saying we should just get 50 tickets, but it's gonna be hard to coordinate. We don't know who of us gets through the queue, so if we need 10 tickets and end up getting 14 because we're "too lucky", I imagine we could just release the 4 back into the queue afterwards.

[2016-11-23 21:00] watson commented on #178
And of course, it would be nice to have a ballpark figure of how many tickets we'd like to get 😃

[2016-11-24 10:44] hsanjuan commented on #178
@watson 20-25 should be a safe ballpark.

[2016-11-24 10:48] watson commented on #178
Does anyone know what link to use when the tickets go on sale?

[2016-11-24 10:52] lgierth commented on #178
more like 15.

[2016-11-24 23:24] watson commented on #178
Anyone found out which website to use?

[2016-11-24 23:32] lgierth commented on #178
https://tickets.events.ccc.de/33c3/

Also make sure to not get the cheapest tickets -- see you at 9am UTC :)

[2016-11-25 00:34] lgierth commented on #178
![33c3 tickets](https://pbs.twimg.com/media/CwsGf2JXEAA_iUt.jpg:large)

[2016-11-25 07:45] watson commented on #178
We're going for the 100 EUR tickets right?

[2016-11-25 09:17] VictorBjelkholm commented on #178
@watson yes :)

[2016-11-25 09:55] ribasushi commented on #178
In case sufficient amount of folks are going to organize a table - please post info here: inquiring minds want to know.

If tickets are still missing [there is this final option](https://events.ccc.de/congress/2016/wiki/TicketExchange). I personally did manage to get a couple last year on Dec 24th(!) through this exchange (requires much attention though, whenever someone posts "I have a few" they

[2016-11-28 15:50] diasdavid opened #205 "Terminate Greenkeeper"
I'm going to go directly to the arguments why I believe (and others do too) terminate the Greenkeeper subscription in our repos:

- destroys our Travis-CI execution pool. I've literally waited for more than an hour just to see travis starting to run some tests, this affects both js-ipfs and go-ipfs development as both use the same travis pool for being in the same work
- create a lot of noise in g

[2016-11-28 15:53] Kubuxu commented on #205
I know that it is quite valuable for some JS developers. Is there some less "noisy" alternative or separate webui for greenkeeper like app?

[2016-11-28 15:56] RichardLitt commented on #205
How would you know? That's assuming that there would be a breaking issue between the time you commit and the Greenkeeper's PR is merged, right?

You could always ignore it more. We could also build a bot to automatically remove it's PRs, possible.

[2016-11-28 17:23] VictorBjelkholm commented on #205
We should continue this discussion in the issue that is already open: https://github.com/ipfs/community/issues/197

[2016-11-28 17:23] #205 closed

[2016-11-28 17:23] VictorBjelkholm commented on #197
From #205:

From @diasdavid

From @Kubuxu

From @RichardLitt

[2016-11-28 17:40] VictorBjelkholm commented on #197
Also, still awaiting input from @dignifiedquire and @haadcode since you are the ones dealing with JS projects the most.

[2016-11-28 17:41] RichardLitt commented on #197
This may also be related to go: @Kubuxu and @lgierth raised some issues.

[2016-11-28 18:32] dignifiedquire commented on #197
There have been multiple dependency updates, for example protocol-buffers just last accidentally introducing a breaking change, which we caught through greenkeeper and was fixed promptly upstream. So I am strongly in favour of keeping greenkeeper as it is still the best option to handle all the depencies that we currently have.

[2016-11-28 18:55] VictorBjelkholm commented on #197
@dignifiedquire in the scenario of having greenkeeper and protocol-buffers accidentally having a breaking change, we get a PR and the tests are failing, so we know to be careful.

in the scenario of not having greenkeeper, we'll see that this is failing when we try to update manually, which would happen when we need a change, run the tests and see something failing.

In both cases, we know that so

[2016-11-28 18:56] dignifiedquire commented on #197
It was a patch version, so we wouldn't see it until the next PR failing the tests because of a random dependency change, and we wouldn't know what version or what module introduced the bug.

[2016-11-29 10:49] VictorBjelkholm commented on #197
I think the reason we would see issues like that is because we're not locking the versions down, so we get automatic patch upgrades. Not sure that's a good idea, since somewhere along the line, someone could do a patch release, but really have breaking changes. So using Greenkeeper for that reason, is more of a hack, rather than fixing the way we declare our dependencies.

[2016-11-29 12:02] diasdavid commented on #197
Not true, I caught it because I was about to release the `Awesome DAGNode API`, no one alerted that there were a problem thanks to Greenkeeper.

[2016-11-30 16:05] diasdavid commented on #149
Now tracked on https://github.com/ipfs/js-ipfs/issues/615

[2016-11-30 16:05] #149 closed

[2016-11-30 16:08] diasdavid commented on #64
@skylarnorris have you stumbled upon this issue before?

[2016-11-30 16:09] diasdavid commented on #186
Did this happened? Can someone do a writeup? :)

[2016-11-30 16:10] diasdavid commented on #164
Anything left to be done for this one?

[2016-11-30 17:46] flyingzumwalt commented on #186
@diasdavid it didn't happen. We also figured out that a lot of the people who were interested actually live closer to Philadelphia than NYC. I plan to form a Philadelphia meetup group in Q1 (currently too busy running [dat-jawn](http://datjawn.com)

[2016-11-30 18:31] RichardLitt commented on #186
It would be great to see it happen, though! I am going to close this as a New York meet up in October is no longer possible; open up another thread for New York if anyone wants to have a meetup there.

[2016-11-30 18:31] #186 closed

[2016-11-30 19:42] flyingzumwalt commented on #167
Update here: http://ipfs.trydiscourse.com/t/decentralized-web-primer-the-beginnings-of-an-ipfs-book/40

I think of [the primer's Table of Contents](https://flyingzumwalt.gitbooks.io/decentralized-web-primer/content/SUMMARY.html) as an outline for this curriculum, so closing this issue.  Further curriculum development can/should be structured around the primer and its contents.

[2016-11-30 19:42] #167 closed

[2016-11-30 19:42] flyingzumwalt commented on #163
Done. https://flyingzumwalt.gitbooks.io/decentralized-web-primer/content/files-on-ipfs/

[2016-11-30 19:42] #163 closed

[2016-11-30 19:47] flyingzumwalt opened #206 "Identify which lessons/tutorials qualify as an MVP of the Distributed Web Primer"
There are currently a handful of lessons in the [decentralized web primer](https://flyingzumwalt.gitbooks.io/decentralized-web-primer/content/SUMMARY.html). The finished parts center around:

Tutorial 1: Install and Initialize IPFS
Tutorial 2: Files on IPFS
Tutorial 3: “Turn a File into a Merkle Tree”

* What parts to we need to add in order to consider it a complete "First Draft"? Pinning & Delet

[2016-11-30 19:48] flyingzumwalt commented on #206
Related discussion on discourse http://ipfs.trydiscourse.com/t/decentralized-web-primer-the-beginnings-of-an-ipfs-book/40

[2016-11-30 19:54] flyingzumwalt opened #207 "Write User Stories for the Distributed Web Primer"
Write User Stories for the Distributed Web Primer

1. IPFS early adopter who wants to **Learn How to Use IPFS**
    * Create & Read files & content
    * Update content
    * Delete Content
    * Pin content
    * Nodes & Gateways
    * IPNS
    * files api, unixfs, mounting
    * signing content, encrypting content
2. Software creator who wants to **Understand How IPFS Works**
    * DHT
    * Blo

[2016-12-01 07:18] diasdavid commented on #197
![image](https://cloud.githubusercontent.com/assets/1211152/20785117/5113ac22-b796-11e6-8a70-8205489c11fd.png)

[2016-12-01 19:19] skylarnorris commented on #64
@diasdavid had not as I am not subscribed to this repo but @RichardLitt is handling most Meetup stuff now.

[2016-12-02 16:11] RichardLitt commented on #164
For now, I am happy with ipfs/reading-list. I've added a couple of PRs referring to it; those need to be closed, and then this can be. I think the central purpose of this issue will be done then.

Looking back now, I'm not sure that editing ipfs/papers makes sense. I think it would encourage people to ask about the PRs on it; and my guess is that we're not going to to be merging those soon. I'd pr

[2016-12-05 07:50] chriscool commented on #194
Tell me if you want to go to the contributor summit as there is a special code you have to give when you buy a ticket for the Git Merge.

[2016-12-05 13:49] chriscool commented on #194
See also: https://public-inbox.org/git/20161205133519.dsjhaptk6ezl63zr@sigill.intra.peff.net/

[2016-12-05 17:00] flyingzumwalt opened #209 "Call for Participants: Giant Files on IPFS Initiative"
_Note: If you urgently need to decentralize copies of your giant files ASAP, ahead of the timeline on this project, please let us know. Some organizations have approached us who need to get their large datasets onto IPFS urgently, before Q1 and before we even have time to set up a formal initiative or test plan. If you have this need, please reach out to us. We will help you act quickly._

We're l

[2016-12-05 21:53] Zanadar opened #210 "NYC IPFS Meetup"
I was trawling around the issues and found https://github.com/ipfs/community/issues/186 but was sad to discover that it didn't happen....
So I registered [Meetup group](https://www.meetup.com/IPFS-NYC/) and I'm gonna organize it damnit!

I've scheduled a first date for January 26th, and would like to run a monthly event.

I'd like to have this run more like a seminar than a lecture, with an emphas

[2016-12-06 00:47] lgierth commented on #210
cc @meyerscr @nitinics @bhny

[2016-12-06 02:40] flyingzumwalt commented on #209
FYI: I originally posted an inactive email address as the contact email for this initiative. The information is accurate now.

[2016-12-06 18:46] meyerscr commented on #210
We can probably get access at Hack Manhattan if you would like for it to be public. Otherwise, I know of a couple co-working spaces that have offered things. However, people have to RSVP for those spaces, making them a bit more restricted.

I will reach out to Hack Manhattan about using their space. In the past, they have accepted donations in lieu of membership.

[2016-12-06 19:02] jbenet commented on #210
This sounds great! 👍  :tada: would love to see this happen and would stop by when im in NYC.

would be useful to _distinguish_ this from traditional developer meetups or what we've been calling meetups (usually 2-3 talks, stand up conversations, etc). because i'd love to see major cities with both that kind of meetup, and this kind of meetup. We could call _those_ "small conferences" or something.

[2016-12-06 19:02] jbenet commented on #210
btw we can help promote it and announce it over blog, twitter, etc.

[2016-12-06 22:45] RichardLitt commented on #210
I've seen this more and more. It might be a useful time for a distributed, decentralized meet up group that allows for longer interactions.

@Zanadar This sounds great. Let me know if you need any help - logos, etc. Regarding the format, @flyingzumwalt is making a decentralized web primer that might be good starting material. See https://github.com/flyingzumwalt/decentralized-web-primer.

[2016-12-06 22:53] Zanadar commented on #210
I love the idea of calling this an IPFS school or study group or something like that to differentiate from the "mini-conference" variety of meetups. These names convey the aims well, although I'm not sold on any particular name... will have to think about that.
As for space, thanks @meyerscr for the suggestion of Hack Manhattan; if that can be swung it'd be perfect. I was planning on having this b

[2016-12-07 22:13] lukasheinrich commented on #209
The experiments at the Large Hadron Collider at CERN generate many PBs of data. Normally this is access-controlled to the members of the collaboration, but increasingly we release portions of the data to the public. These are hosted on distributed storage solutions developed by CERN (EOS - http://eos.web.cern.ch/ ) and often accessed via protocols such as XrootD (http://xrootd.org/). But this data

[2016-12-07 23:33] flyingzumwalt commented on #210
Keep me posted when you nail down the date and location. I'll try to come up from Philadelphia.

[2016-12-08 00:07] diasdavid commented on #188
@kumavis @wanderer, created the event at the Seattle IPFS Meetup page to gauge interest for the hackathon https://www.meetup.com/Seattle-IPFS-Meetup/events/236101964

[2016-12-08 05:03] flyingzumwalt commented on #209
@lukasheinrich do you know of any people or organizations who actively want to put LHC data on IPFS and might want to participate in these tests? Is anyone dissatisfied with the existing techniques and looking for an alternate approach? I'm focused on finding stakeholders who need IPFS so we can understand why they need it and how they want to use it.

[2016-12-08 11:08] lukasheinrich commented on #209
@flyingzumwalt I think for most use cases we are covered by our internal technologies, but this requires some familiarity with these tools. Not sure if CERN IT is looking at IPFS explicitly, tagging some people who might know more (or may be interested to comment @tiborsimko @jblomer @jirikuncar @RaoOfPhysics)

[2016-12-09 16:51] RichardLitt opened #213 "Discourse: Evaluation Checklist"
We've had a [trial Discourse forum](http://ipfs.trydiscourse.com) up for over a month. There have been some discussions on it by a few contributors, and at this point, everyone should have had the chance to interface with the forum and see how it works for them.

Moving forward, I would like to come to a consensus about whether we should either go with Discourse as a possible alternative to our Gi

[2016-12-09 19:43] RichardLitt commented on #213
On moving FAQ and Support to Discourse

While it is possible to disable issues for a repository temporarily, and bring those issues back later as needed, this breaks links to those issues elsewhere. One thing we could do immediately is to add an issue template to those Repositories, like we've done with IPFS/IPFS now (thanks @whyrusleeping), asking users to post in Discourse. @whyrusleeping pointe

[2016-12-09 20:33] flyingzumwalt opened #214 "[Docs] Write Files API Documentation"
Explore the Files API and write documentation for the Primer.  The most current explanation of the files API is in the discussion here: https://github.com/ipfs/specs/issues/98

cc @RichardLitt

[2016-12-09 20:38] flyingzumwalt opened #215 "[Docs] Document the DAG API (which uses IPLD)"
Explore the DAG API and write documentation for the Primer.  See discussion in  https://github.com/ipfs/specs/issues/98

Also make sure to remove any reference to `ipfs object` in the Primer, since that uses protobuf objects, which are being deprecated.

If people have other reference info to offer, please let me know. cc @nicola @RichardLitt @diasdavid @whyrusleeping

## Example Audience/Use Case

[2016-12-09 20:38] flyingzumwalt commented on #214
If people have other reference info to offer, please let me know. cc @diasdavid @whyrusleeping

[2016-12-12 17:26] flyingzumwalt commented on #213
Could we set up the subdomain sooner rather than later? I'd prefer to use a stable url when recruiting people to participate in the tests. That way the link won't break if/when we move to adopt Discourse long-term.

[2016-12-12 23:13] RichardLitt opened #217 "All Hands "Check Ins""
### Syncs

This issue is for discussing whether it is a good idea to spend time each sprint going over what everyone is doing, briefly.

### Background

Last week, @haadcode suggested that we briefly go over what each other are doing in the All Hands call. We hadn't done that in a while, so we all agreed that this was a good idea, and everyone spent a minute saying what they were working on that w

[2016-12-13 11:14] VictorBjelkholm commented on #217
I like the idea, it's good to get an overview of what's going on around the different efforts.

I think, if you're repeating things that would be said in different calls, this would be a waste of time.

But I can see value in having a quick, broad show-and-tell of what people are focused on. In the all-hands, I can mention that I did something on js-ipfs, while in the actual js-ipfs call, go more

[2016-12-14 20:17] flyingzumwalt commented on #197
this decision is stuck. It's slowing down other work. I think there's also another discussion somewhere with @diasdavid arguing to turn off greenkeeper. @em-ly can you steward this through to a decision? I think it will be a good test of the info from the facilitation training.

[2016-12-14 20:18] flyingzumwalt commented on #197
Apologies for unintentional changes to the assignees. That widget is unpredictable on mobile.

[2016-12-14 20:21] kevina commented on #213
As the site stands now I won't use it.  I find text hard to read due to lack of contrast.  Please see http://contrastrebellion.com/ and https://www.nngroup.com/articles/low-contrast/.  If the background is white I prefix pure black for the main text, but I am okay with a _slightly_ lighter color (GitHub `#333` is probably about as light as I will tolerate).  If I am forced to use the site as it st

[2016-12-14 20:29] flyingzumwalt commented on #213
We have complete control of the styling, so we can fix the contrast. I agree that high contrast is a basic accessibility issue that we have to prioritize. The current style is a quick and dirty imitation of the CSS from the IPFS.io website.

cc @dignifiedquire

[2016-12-14 20:37] dignifiedquire commented on #213
I've just updated the base text color to be `#333`. It might take a couple of refreshes before your cache updates though.

[2016-12-14 20:43] kevina commented on #213
Thanks!  That's better.  Note that many other web sites now seam to use `#222`, that might be a bit better.  But as it is now is okay for me.

[2016-12-15 21:47] kumavis commented on #188
WRT to Seattle IPFS hackathon:
[code]
from consensys / vidroll partner

[2016-12-15 21:47] kumavis commented on #188
me and null_radix identified feb 6-14 as ideal seattle haxx0rs time

[2016-12-16 01:28] flyingzumwalt opened #218 "Build a registry of apps, projects & orgs using IPFS"
While awesome-ipfs lists a curated set of stuff that the community has identified as "awesome", we also need a running sense of the whole community -- how many people are out there working on IPFS? What are they building? What organizations do they represent? What needs are they trying to address? Where are they posting their work?

cc @RichardLitt

[2016-12-16 01:37] whyrusleeping commented on #188
Feb 6,7,8 and maybe 9th (though less likely) work for me. That weekend i've got a family thing.

[2016-12-16 21:26] Kubuxu opened #219 "Switch coverage to codecov"
Codecov has, IHMO, superior UI and UX and support that actually exists than Coveralls.

Go repos either starting to report to it or switching slowly if they were reporting before.

Would js side be for the switch over all to Codecov, as I know you are using coveralls currently?
This would allow us to unify it over the organizations.

cc @diasdavid @dignifiedquire @VictorBjelkholm

[2016-12-16 21:37] RichardLitt commented on #219
Related to https://github.com/ipfs/project-repos/issues/90#issuecomment-267698931.

[2016-12-17 09:54] dignifiedquire commented on #219
I don't have a particular preference, coveralls was just the easiest to setup.  Happy to take a look at codecov.

[2016-12-17 10:28] Kubuxu commented on #219
I just seen that aegir doesn't have support for codecov, I am possitive that it would possible to add it in the same manner that coveralls is wired in using https://github.com/codecov/codecov-node.

I will create PR to aegir.

[2016-12-17 16:11] Zanadar commented on #210
@meyerscr Did you get an answer RE Hack Manhattan? That would be an awesome place for this.

[2016-12-17 23:41] lidel commented on #213
@kevina:

You can enable "[Mailing list mode](https://meta.discourse.org/t/what-is-mailing-list-mode/46008/2?u=lidel)" in _Preferences_
("gear" icon after you click on your avatar):

[2016-12-18 00:14] kevina commented on #213
@lidel I saw that, it is unclear if it will enable emails to be sent on your own activity like GitHub now allows.  From the limited testing I saw in try.discourse.org it does not, at least for private messages.  I can't post to the Sandbox because my account is "on hold".  So I waited, and then when I came back my account seams to have been deleted.

[2016-12-18 07:46] diasdavid commented on #219
@Kubuxu same feeling as @dignifiedquire, I just have the request that if we go forward with this, please make sure to track and update all of the modules (or divide the tasks), this is a lot of grunt work that takes a lot of time.

[2016-12-19 05:20] flyingzumwalt opened #220 "Philadelphia IPFS Meetup"
Let's start a regular Philadelphia meetup. We could do it as a more presentation-based meetup or an IPFS study group covering some of the info discussed [here](https://github.com/ipfs/community/issues/186#issuecomment-254314223)

cc @gsf @bibliotechy @chadoh

[2016-12-19 17:08] llopv opened #221 "@llopv's Master Thesis: Open issues on the P2P Web"
IPFS provides a good starting point for the Permanent Web. In our master’s tesis we are going to discuss how we can construct a Secure Dynamic Permanent Web on the top of it.

Nowadays centralized web services provide users with the following desirable features: mutability (CRUD - create, read, update, and delete data), capabilities (through authentication), computation (such as compute queries on

[2016-12-19 17:18] flyingzumwalt commented on #221
Do you plan to also cover identity on the decentralized web? Example: In order to mark a dataset as authentic, an authoritative person/group/institution might want to sign the hashes and publish the signed hashes. This topic touches a lot of topics & tech outside of IPFS, but it is directly relevant as an issue on the P2P web.

[2016-12-19 17:40] llopv commented on #221
Yes, definitely *identity* must be one of those topics. I've seen you are writting some documentation for [decentralized web primer](https://flyingzumwalt.gitbooks.io/decentralized-web-primer/content/dynamic-content/index.html). It would be cool if my master's tesis could help to improve that documentation in some way (my writtings are all open access).

[2016-12-19 18:35] flyingzumwalt commented on #221
😄 I had the same thought about the primer.

[2016-12-20 00:00] tjayrush commented on #220
I'm totally in. Very interested in IPFS.

[2016-12-20 18:13] kennyrowe commented on #188
I can start working on getting a space ready lined up for Feb 6-8th. I'll
post more details as I have them.

On Thu, Dec 15, 2016 at 5:37 PM, Jeromy Johnson <notifications@github.com>
wrote:

--

http://kennyrowe.org/
<http://kennyrowe.org/?utm_source=Gmail_Footer&utm_medium=Email&utm_campaign=Signature>

[2016-12-22 01:51] jdorfman commented on #175
@RichardLitt let me know if we can help: jdorfman @stickermule .com

[2016-12-22 17:18] RichardLitt opened #222 "Berlin Meetup"
It would be great to have a more regular Berlin meetup. I know that there have been events in the past - at Blueyard, the DApp meetup, etc - and there seems to be a vibrant community of IPFStronauts in Berlin. Would anyone be interested in more of a monthly get together, hack meeting, possibly with speakers?

cc @lgierth @hsanjuan @haadcode

[2016-12-22 18:05] hsanjuan commented on #222
Organizing a meetup is not a pleasurable task (for me at least). It is very hard to do a good meetup. It should a purpose and add real value to IPFS other than socializing (IMHO).

So the question is: does the IPFS community in Berlin need such a space? Apart from the logistic effort (venue, drink, food, advertisement, chasing down speakers, agenda), can Berlin provide [monthly] content for those

[2016-12-22 18:45] flyingzumwalt opened #223 "IPFS at Code4Lib 2017"
At [Code4Lib 2017 in Los Angeles](http://2017.code4lib.org/) there will be an IPFS workshop during the pre-conference and there will be a presentation about IPFS in the main conference.

### Workshop
[Introduction to IPFS and Distributed Technologies](http://2017.code4lib.org/workshops/Introduction-to-IPFS-and-Distributed-Technologies)
Presenters: @RichardLitt and @flyingzumwalt

### Presentation

[2016-12-22 18:49] flyingzumwalt opened #224 "Form a DWebLAM Community?"
Anyone interested in forming a community around Distributed Web in Libraries, Archives and Museums?

## Related

* IPFS at Code4Lib #233
* https://github.com/ipfs/archives
* Tweets looking for interest:
  * https://twitter.com/flyingzumwalt/status/812004084756709376
  * https://twitter.com/ennomeijers/status/811517251950145536
* IIIF on IPFS: ([lots of issues](https://github.com/search?q=org%3Aipf

[2016-12-22 19:29] gsf commented on #220
Ideally we would balance doing real work (building apps and improving IPFS tools) with welcoming and educating people new to IPFS.

[2016-12-22 20:34] denisnazarov commented on #224
Hey from @mediachain!

Mediachain is a sister project of IPFS (built on top of libp2p).

Mediachain builds upon foundational properties of decentralized/p2p systems (immutability, content-addressing, distributed routing) and adds a decentralized **directory** and the concept of **namespaces** to provide a single port of entry for discovering, publishing and collaborating on media metadata (media a

[2016-12-23 11:23] edsilv commented on #224
Hey, I'd love to be involved too. Just to carry on from the Twitter conversation, I've been using riot.im to follow the IPFS IRC and like it as an OSS alternative to slack. Also, big fan of mediachain :-)

[2016-12-23 23:17] RichardLitt commented on #222
I am not sure, either. However, I suspect that Berlin may be the best place to do this, currently. And I want to know if others think so, too. I feel that all of the points you raise can be sufficiently met given the right amount of interest.

[2016-12-26 18:05] kumavis commented on #188
hey @flyingzumwalt @RichardLitt

Originally this was more of a get together amongst active ipfs and ethereum devs, and has evolved into more of a public hackathon. That speaks to how excited people are about these technologies.

so maybe we can do something like this:
Public Hackathon: Feb 6,7,8
Lingering Hackers: Feb 9-14

For the public portion:
We may need some more support / advice on designin

[2016-12-26 18:33] chadoh commented on #220
I'm in! I'd especially be interested in a workshop to get some practical experience with deploying a simple front-end-only app to IPFS. Not currently capable of leading this myself.

[2016-12-28 00:22] #124 closed

[2016-12-28 16:53] RichardLitt commented on #188
That's awesome! I will definitely be able to help with this. I'll get back to you next week, if that's alright!

[2016-12-28 17:51] flyingzumwalt commented on #188
@kumavis can you tell me a bit about how you chose these dates? Public Hackathons are usually on weekends so people with 9 to 5 day jobs can participate.  Also, three days is a long time for a public hackathon. Given @whyrusleeping's time constraints, I see that the weekend (Feb 11+12) isn't an option. Are you thinking to just do public stuff in the evenings on the 6-8, or were you planning to do

[2016-12-28 19:29] jbenet commented on #188
@kumavis very cool idea! :heart: thanks for organizing. good for all of us to hang out more.

**note of caution:** this is a big time investment for everyone. we should have a pretty clear agenda hammered out before we show up -- yes we should have room for serendipity (maybe explicitly scheduled), but there's a ton of things we already know we want to do together, so we should have a very clear p

[2016-12-29 18:41] lgierth commented on #222
I think we can shrink the overhead of organizing quite a bit by having it at c-base.

- c-base has a bar, for meetups in the past we simply provided EUR200 worth of drinks via the bar.
- I don't think we need food.
- c-base has all the equipment needed, and it has worked very well in the past. (chairs, projector, cables, microphones, etc.)
- At least 3 longtime c-base members are active in the IPF

[2016-12-29 18:43] lgierth commented on #222
So this would be something like "ipfs + p2p + x"

[2016-12-29 18:51] lgierth commented on #222
We can probably also get most of the presentations recorded. @copernicus-mogley has a track record of making excellent recordings and live streams from ipfs meetups and other events in the p2p community.

That way there could be a benefit beyond the local community in berlin.

[2016-12-29 20:58] frankiebee commented on #188
While I think it is valuable to make it a public event,
the primary goal is to bring together the developers of
js-ipfs + ethereum-js and to identify avenues of collaboration

Hackathon schedule proposal:

talk on Monday evening (6th)
(no longer then half an hour about 20 minutes is ideal)

Ethereum talk
ipfs talk
MetaMask talk

Wednesday check in session (8th)(optional)
at a diner or a cafe for a

[2016-12-29 20:59] frankiebee commented on #188
Oh hi I'm Frankie i work on MetaMask with @kumavis

[2016-12-30 17:32] diasdavid commented on #188
Given https://fosdem.org/2017/, I should be able to be as soon as the 7th of Feb in Seattle, maybe 8th??

[2017-01-01 05:34] dysbulic commented on #175
I got 10 for $16.

bitcoin:1QFkZVw3xitVKXJamyyBiu4HQZvhUzL7tb

-W

On Mon, Sep 19, 2016 at 3:47 PM, Richard Littauer <notifications@github.com>
wrote:

[2017-01-01 15:49] copernicus-mogley commented on #222
I can certainly record and stream a meetup at any time, though I should point out that C-Base has equipment and skills to livestream as well. It might be easier and better quality for them to do it. In any case, I'd love to attend an IPFS meetup and visit with you all.

[2017-01-02 00:29] wanderer commented on #188
anytime in April up till the 17th works for me!

[2017-01-02 00:31] frankiebee commented on #188
so @wanderer are you saying Feb. is not a good time for you?

[2017-01-02 00:49] wanderer commented on #188
@frankiebee i tots meant to say Feb

[2017-01-02 17:19] dignifiedquire commented on #194
I will try and join as well :)

[2017-01-05 01:36] kennyrowe commented on #188
@frankiebee

I have a few questions regarding the public part of the event?

1 - How many people should we expect?
2 - How many presenters would be appropriate, and what should the length of presentations be limited to?
3 - How firm is the Sunday night date? I may be easier to find venues for a week night.
4 - What group will be responsible to any fees associated with hosting

[2017-01-05 02:23] frankiebee commented on #188
@kennyrowe

@kumavis maybe able to answer this a little better then me

thinking 3 presentations limiting then to 30 min max (20 min's is ideal but some thing's may need more explanation)

not firm but running out of time so i may just run with it

Lets try and keep fees down to a bare minimum but i'm checking with ConsenSys to see if the will help cover some of it.

[2017-01-05 06:30] kennyrowe commented on #188
Thanks for the info @frankiebee

I can help with with trying to find a venue. I'll report back when I have more options.

[2017-01-06 01:02] frankiebee commented on #188
@wanderer
@silentcicero
@diasdavid
@jaredpereira
@zanibas
@frankiebee

This is a sound off for those who (may want to join) from out of town nick this is a invitation to come to Seattle for a ipfs metamask hackathon query @kumavis for more info.
Things are set and an Airbnb is being booked

[2017-01-06 02:34] wanderer commented on #188
@axic is coming too

[2017-01-06 07:35] Madji commented on #12
please write a simple GUI to manage files. and then I added files and delete them can't anymore. many simply unrealistic to use this because of the difficulties

[2017-01-06 19:27] frankiebee commented on #188
Okay we got the Airbnb for 8 people

[2017-01-06 20:15] frankiebee commented on #188
claimed spots for the airbnb:
1: Frankie
2: @flyswatter
3: @wanderer
4: @zanibas
5: @jaredpereira
6: @axic ?
7: @diasdavid
8:

[2017-01-06 21:18] whyrusleeping commented on #188
My plans have changed up since i last commented, i'm now available that weekend (11th and the 12th) :)

[2017-01-06 23:41] #164 closed

[2017-01-06 23:46] lgierth commented on #201
We've been doing the apps calls regularly for a couple of weeks now

[2017-01-06 23:46] #201 closed

[2017-01-06 23:51] lgierth commented on #191
I agree very much, and I think we can also collapse repos like libp2p/community

[2017-01-07 00:14] flyingzumwalt commented on #191
I still like this idea.

[2017-01-07 17:05] axic commented on #188
I'm in.

[2017-01-08 02:00] frankiebee commented on #188
hey @diasdavid is possible to make me an admin of https://www.meetup.com/Seattle-IPFS-Meetup/events/236101964/ so that i can update the dates as well ass put the location in when we've finalized it.

[2017-01-08 18:11] kumavis commented on #188
@RichardLitt  @flyingzumwalt @whyrusleeping not sure who controls the Seattle-IPFS-Meetup page. Could you please help out @frankiebee in some way ^

[2017-01-08 22:44] diasdavid commented on #188
Hi! Apologies, been offline. Meetup.com only lets me add you if you have already joined the meetup group and RSVP'ed the meetup, can you do that?

[2017-01-08 22:58] frankiebee commented on #188
@diasdavid i have RSVP'ed

[2017-01-08 23:35] diasdavid commented on #188
Thank you, you are now a org :)
![image](https://cloud.githubusercontent.com/assets/1211152/21754576/85757d52-d603-11e6-9304-e977556b0748.png)

[2017-01-10 18:51] diasdavid commented on #200
How easy is to generate these?

[2017-01-10 21:38] nycoliver commented on #210
Any updates?

[2017-01-10 22:20] Zanadar commented on #210
As of yet, I'm still casting around for a place to host. I have a couple leads and may end up just booking a conference room at my job, but that's not exactly ideal.

As to the structure, I'm thinking of two groups I would ideally like to support:
1. People working _with_ IPFS -> App developers and the like who build on top of the platform
2. People working _on_ IPFS -> Contributors who want to me

[2017-01-10 23:48] kennyrowe commented on #188
@all we are still trying to find a venue for Feb 5th. If anyone can help with this please let us know.

For reference @frankiebee and I both have open inquiries but we haven't secured anything yet.

[2017-01-11 00:59] tcoulter commented on #188
I'm down for participating. Count me in if there are open seats.

<--- ethereumjs-testrpc author, Truffle creator, all around good guy

[2017-01-11 01:24] wanderer commented on #188
@kennyrowe I can also do a presentation

[2017-01-11 01:38] frankiebee commented on #188
@wanderer what would you want to talk about?

[2017-01-11 01:51] wanderer commented on #188
ill be fairly short I think. Ill talk about what cool things can happen when you combine UNIX + Webassembly + IPFS

[2017-01-11 02:15] frankiebee commented on #188
@whyrusleeping or @jbenet could either of you talk about ipfs Sunday eve (5th of Feb.)

[2017-01-11 03:21] frankiebee commented on #188
@tcoulter what is that you want to talk on?

[2017-01-11 07:22] thisconnect commented on #200
the video mentions Gource Visualization in the title

https://github.com/acaudwell/Gource

something like this:
[code]
example from: http://www.fullybaked.co.uk/articles/getting-gource-running-on-osx

(I haven't tried this myself)

[2017-01-11 14:21] diasdavid opened #225 "Update JavaScript community guidelines"
- [ ] Make sure it is up to date and that it incorporate the last week's discussion notes

@RichardLitt tagging you as you volunteered

[2017-01-11 14:22] RichardLitt commented on #225
SGTM.

[2017-01-12 11:47] diasdavid commented on #225
Could you provide an ETA? I believe this is going to be super valuable to kick off the quarter :)

[2017-01-12 19:05] RichardLitt commented on #225
@diasdavid Tomorrow? Whenever this is merged? :)

[2017-01-13 08:07] flyingzumwalt commented on #213
Marta posted a bunch of great questions on Discourse yesterday. We should use these to test Discourse. @RichardLitt can you drum up people to respond -- both from #ipfs and #ipfs-dev -- and watch the discussions?

[2017-01-13 11:10] diasdavid commented on #225
List of things to be done:

- [ ] Merge https://github.com/ipfs/community/blob/master/js-commit-guidelines.md and https://github.com/ipfs/community/blob/master/js-project-guidelines.md to a single document
- [ ] List out every package in js-ipfs and js-libp2p main repo that those modules use (created by us) and add a column with their main Captain
- [ ] Add a section how modules should provide doc

[2017-01-13 11:29] diasdavid commented on #197
Let's do a last 'call'(not an actual call, but a call to action) on this and make a final decision by Tuesday, Jan 17. Please voice any of your remaining concerns and if you want to keep it or to remove it.

Make sure to take into consideration not what is 'promised', but how we have experienced (i.e how we got bitten anyway by deps in https://github.com/ipfs/community/issues/197#issuecomment-2635

[2017-01-13 11:31] diasdavid commented on #191
People are leaning towards this, what are the next steps?

[2017-01-13 11:32] diasdavid commented on #174
We are not going to pursue monorepo structures for all the cons presented. Closing this issue for now.

[2017-01-13 11:32] #174 closed

[2017-01-13 11:33] diasdavid commented on #121
Is this not happening by default already?

[2017-01-13 11:34] diasdavid commented on #108
What's left here? This was implemented in go-ipfs. Can we close this issue?

[2017-01-13 11:35] diasdavid commented on #35
We should get this for the JS repos as well. @RichardLitt could you lead this?

[2017-01-13 11:36] diasdavid commented on #45
What's missing for this endeavour?

[2017-01-13 11:38] diasdavid commented on #87
Closing this issue as the meetup has happened, thank you for organizing it, let us know when the next one happens :)

[2017-01-13 11:38] #87 closed

[2017-01-13 11:40] #94 closed

[2017-01-13 11:40] #105 closed

[2017-01-13 11:44] diasdavid commented on #214
Can we just use https://github.com/ipfs/specs/issues/88 to track this? Closing, reopen if you see necessity in having two issues.

[2017-01-13 11:47] diasdavid commented on #182
2017 :) 🍾

[2017-01-13 11:47] #182 closed

[2017-01-13 11:48] diasdavid commented on #178
Hope to see you all at this year's CCC :)

[2017-01-13 11:48] #178 closed

[2017-01-13 11:48] diasdavid commented on #147
ping @RichardLitt

[2017-01-13 11:49] #145 closed

[2017-01-13 11:53] #203 closed

[2017-01-13 12:41] RichardLitt commented on #151
@diasdavid Where are the current notifications going? Did we remove them?

[2017-01-13 12:42] RichardLitt commented on #182
Removed the events calendar from the README, anyway.

[2017-01-13 12:42] RichardLitt commented on #218
SGTM.

[2017-01-13 13:40] diasdavid commented on #182
yeah, it would be good to get the habit of github hygiene, so that we keep all of these tasks and ideas in check.

[2017-01-13 13:41] diasdavid commented on #151
They were disabled, by @lgierth or @whyrusleeping, don't recall. Seems to be 'working' for everyone.

[2017-01-13 13:57] RichardLitt commented on #151
Why don't we throw them in #ipfs-bots? @VictorBjelkholm has been squatting the channel, and it's active. As we want to move pinbot somewhere, too, that would be a good place for it.

[2017-01-13 14:02] RichardLitt commented on #182
@diasdavid Not sure how that's relevant. Do you mean closing old issues? :)

[2017-01-13 14:19] diasdavid commented on #188
All right, I'm finally being able to go through a giant backlog and read this thread with proper attention. First of all, thank you so much for pulling this off ❤️❤️❤️❤️ Super excited that so many people are coming to Seattle to hack in Ethereum and IPFS, fun to see that the meetup scaled to become a full DApp Hackathon 🎉🎉🎉🎉

So, in an attempt to coalesce all the information in this thread, here i

[2017-01-13 17:05] frankiebee commented on #188
@diasdavid we are scouting spots @kennyrowe has got us a sponsor if we need to pay for the venue Sunday night (this is my understanding query him about sponsor things) although we may still need help. ConsenSys may help on that front as well but still bugging them for covering the AirBnb at the least.  Would love help getting the word out about the hackathon it self. It a hack at home athon so the

[2017-01-13 18:52] kennyrowe commented on #188
@frankiebee if you get time you should go to Theo Chocolate Factory while you are in town ;)

[2017-01-13 19:22] RichardLitt commented on #214
This isn't about the specs, which is a separate issue, but about documenting it with examples. Much of the work for this is being done in https://github.com/flyingzumwalt/decentralized-web-primer by @flyingzumwalt now, I believe.

[2017-01-13 19:28] RichardLitt commented on #94
Just checked; there are 301 issues in IPFS on up-for-grabs. Directed someone to it today. \o/

[2017-01-13 19:45] apmilen commented on #188
Hi! @frankiebee asked me to post here to RSVP for the Seattle IPFS hackathon. I'm happy to give a talk about the Nexus Dev tool suite if you'd like

[2017-01-14 10:53] xhipster opened #227 "Is there any stats on IPFS network?"
I am curious is there a site with stats about IPFS node network? Like [Bitnodes](https://bitnodes.21.co/) or [Ethernodes](https://www.ethernodes.org/network/1)?
- clients
- version
- locations

I know that my web console shows locations of nodes. But that seems that this is only about my peers. I'd like to see network wide stats.

Also it would be interesting to know how much information the netwo

[2017-01-14 20:09] dignifiedquire commented on #108
Do we want those in js-land as well?

[2017-01-14 21:25] RichardLitt commented on #108
That's the question. Do we want it elsewhere?

I'm not sure that there are enough issue-heavy repos to require it. We have it for ipfs/ipfs, too, which works well (thanks @whyrusleeping).

[2017-01-14 22:50] frabrunelle commented on #87
Sure, I'll let you know :-) I'm planning to start a new meetup group called "Decentralized Web Montreal" and the first meetup will likely be in February!

[2017-01-14 23:18] RichardLitt commented on #87
@frabrunelle Let me know! I'll be in Montréal in February. Can I help you out with it?

[2017-01-15 16:52] 21xhipster commented on #227
After some research I found out that storage stats is impossible to know.

[2017-01-16 18:13] kennyrowe commented on #188
Update: we are still looking for a venue... We have an open request out to Galvanize to secure a spot. Fingers crossed.

[2017-01-17 10:10] Kubuxu commented on #227
It would be possible, just we haven't focused on it yet,
One could try crawling the DHT or DHT announcements, but then you would have to differentiate for between files, file chunks and directories.

[2017-01-17 14:57] RichardLitt commented on #188
Anyone got an address I can send a lot of stickers to? :)

[2017-01-17 16:02] RichardLitt commented on #197
@diasdavid Not sure people saw this?

[2017-01-17 16:52] frankiebee commented on #188
@RichardLitt ask @kumavis

[2017-01-17 17:53] diasdavid commented on #197
@ipfs/javascript-team

[2017-01-17 18:14] RichardLitt commented on #225
Which modules? Can we use project-repos for this?

[2017-01-17 18:19] RichardLitt commented on #225
@dignifiedquire Can you help with this? I think you'd be the best at it.

@diasdavid:

Can you please point to where these decisions were made? They seem extemporaneous to me.

[2017-01-17 19:10] diasdavid commented on #225
Apologies if it wasn't clear enough, @dignifiedquire @haadcode @VictorBjelkholm could you confirm with what you understood? Sad that we didn't take digital collaborative notes.

I remember describing the problem (3 times at least) during the discussions of 2 weeks ago and also described how we, within the js-ipfs and js-libp2p development, solve it, which is what I'm describing in that paragraph.

[2017-01-17 19:12] diasdavid commented on #225
https://github.com/ipfs/community/issues/225#issuecomment-273251557

here:
- https://github.com/ipfs/js-ipfs#packages
- https://github.com/libp2p/js-libp2p#packages

[2017-01-17 20:48] kumavis commented on #197
I like using greenkeeper in my projects, but the ipfs dependency graph is large and in flux, so I haven't really experienced it at that scale

[2017-01-18 07:06] haadcode commented on #197
I honestly don't have a strong opinion on this.

I've found greenkeeper to be ok-ish: it doesn't quite deliver on the automation part ("new version available" comes with a long delay, I'm faster to manually go and update deps across ~10 repos when needed), sometimes there are many PRs to close just because all the previous patch version PRs are still there, etc. It does provide some value in notif

[2017-01-18 09:10] pgte commented on #197
Similar experience here: using green keeper for small independent packages saves some work.
If tests pass, I merge right away, it's almost a no-brainer.
Also it helps with peace of mind, when I'm worried about adopting security patches, or fixing unknown bugs (yeah, somewhat naive, I know...).
Having said that, I also don't have that much experience with using it at this scale, but I'd vote we sta

[2017-01-18 16:35] jpitts commented on #188
@frankiebee it was good catching up with you after your talk at https://www.meetup.com/Women-in-Blockchain/. Count me in for helping out at the Seattle ethereum-ipfs hackathon.

[2017-01-18 19:20] RichardLitt commented on #197
@gr2m Would you be able to help us, here? You work on hood.ie, right?

[2017-01-18 19:28] gr2m commented on #197
Hey friends, I pinged the folks working on Greenkeeper, there were lots of updates addressing the noise issues. They are all in Europe so they might not be able to respond until tomorrow. Have you tried the new GitHub integration? https://github.com/integration/greenkeeper Among other things, it does not create new PRs all the time, instead updates existing ones. It also creates issues for when a

[2017-01-18 20:18] RichardLitt commented on #225
@diasdavid Why don't I just do all of the changes to the documentation you suggest, and then we can hash out in the PR if there are any difficulties? Will make it easier.

[2017-01-18 21:40] diasdavid commented on #197
@gr2m thank you for showing up! ❤️

I wasn't familiar with the Github integration, it makes it so much easier to maintain the repos that we have Greenkeeper on, stellar 🌟

It would be awesome if we can defer the Greenkeeper PRs to a day in the week (i.e weekend) when CI is less used. I've reached out through twitter https://twitter.com/daviddias/status/821711368005046274 and got positive feedback

[2017-01-19 19:03] RichardLitt commented on #191
Feedback from the rest of the team.

[2017-01-19 19:13] RichardLitt commented on #35
Talked to @flyingzumwalt a bit about this today. I can certainly help, but not sure I'd be the best DRI for this particular effort.

Are we still going with gitcop? I haven't seen it in a while - have I just not been watching go-ipfs enough? That's the only repo we use it for, currently, correct?

[2017-01-19 19:41] RichardLitt commented on #35
Just had some fun: It would be possible to ask users to add a global git commit hook without too much hassle. We could have them add this:

[code]

If you're working on any of our repos, you would automatically add the same things we currently add only to go-ipfs.

[2017-01-19 22:37] frankiebee commented on #188
This is the line up for Sunday night (Feb 5th):
- Ethereum intro @flyswatter
- ipfs and building webapps on ipfs @whyrusleeping
- ethereum-ipfs integration @kumavis
- UNIX + Webassembly + IPFS @wanderer
- Truffle @tcoulter
- Dapple @apmilen
- MetaMask @frankiebee

Please keep your talks to 20 mins. under is fine a little over is okay. But if you hit the 30 min mark and are still talking i will get

[2017-01-19 23:55] lgierth commented on #35
Oh, I didn't know you global commit hooks. Where would you put that script?

About GitCop, I've seen it just the other day -- we're eager to switch away from it. It's just very blunt and unfriendly.

[2017-01-20 03:58] ryepdx commented on #188
RSVPing.

[2017-01-20 08:28] ribasushi commented on #35
It's a relatively new thing that has not yet trickled down to dists: https://github.com/git/git/commit/867ad08a

You still need to distribute a config somehow, this is the closest to "safe" I was able to come up with some time ago (read the commit message carefully): https://github.com/dbsrgits/dbix-class/commit/1f99022a59

[2017-01-20 13:16] RichardLitt commented on #35
It's pretty easy to implement: https://coderwall.com/p/jp7d5q/create-a-global-git-commit-hook.

@ribasushi I'm not sure about that config setup. The solution I just l pointed to seems to work for me. Maybe I am missing something?

[2017-01-20 13:34] ribasushi commented on #35
@RichardLitt you mentioning `global commit hook` made me think of the git 2.11 feature, not of `init` templates.

The extra faffing I show in the second paragraph is a workflow to both allow updates from upstream ( the scripts are hosted in-repo, instead of some one-off comment on github ) while at the same time highlighting the concern that a malicious committer might drop unsavory code into the

[2017-01-22 01:39] kumavis commented on #188
@ryepdx awesome! airbnb is technically full but couch surfing may be an option

[2017-01-22 01:40] kumavis commented on #188
also airbnbers: there is a hot tub, you may want to bring your suit 👙

[2017-01-23 19:19] kennyrowe commented on #188
Venue has been confirmed!

[2017-01-23 19:22] frankiebee commented on #188
@all Galvanize is are Sunday night location for the 5th for the talks.
We can get in at 6 but expect to start around 6:30
Address:
111 S Jackson St, Seattle, WA 98104

[2017-01-24 17:09] RichardLitt commented on #64
@kumavis would it have been easier to organize your meetup with a separate organization, or with a separate `ipfs/seattle` repo?

[2017-01-24 17:25] RichardLitt commented on #64
I am going to veto making a new organization or repositories for meetups, for now. What we have seems to be working. We can revisit this later. For now, communities can open an issue, read the guide in `meetups/`, and talk to me if they need help with anything. I'll keep an eye on how people organize in the future, and may come back to this repo, but I think what we currently have is working well

[2017-01-24 17:25] #64 closed

[2017-01-25 10:10] jbenet commented on #196
I am so glad we use hackpads now. so much nicer.

[2017-01-27 17:18] RichardLitt commented on #121
It isn't. We don't have a way of tracking this information - would be great to do with something like project-repos - and we don't have clear guidelines. A lot of our modules are very basic, and it would be good to be able to grade them on a point scale for how finished or polished they are. Right now, we don't have measurable ways to track this.

[2017-01-30 06:10] jbenet commented on #188
- @diasdavid asked me to come to seattle and give an IPLD talk at the meetup sunday night.
- I can make it.
- The talk would cover IPLD, CID, relation to ethereum and blockchains (set the stage for @kumavis and @wanderer talks) and broader merkle forest.
- I think it would be very valuable to everyone present, and very valuable to record for others more broadly.
- The meetup lineup already looks q

[2017-01-30 07:07] flyswatter commented on #188
I'd be happy to bring a video camera for recording the event, it would help if someone in Seattle could provide a tripod, though.

[2017-01-30 07:16] whyrusleeping commented on #188
Juan can take my timeslot. Would give me more time to build cool demos :)

[2017-01-30 17:14] kennyrowe commented on #188
@flyswatter I have a tripod, and a lapel microphone. I have a not so nice camera too that I can bring as a backup.

[2017-01-30 19:52] RichardLitt opened #230 "How do we help each other take better notes?"
Now that we are switching to a model for our sprint calls where everyone is expected at some point to take notes, we should think about how we want to help people level up their note-taking skills. Rather than just dropping new notetakers in the deep end, let's source ways to help others take better notes, here.

[2017-01-30 19:52] RichardLitt commented on #230
@diasdavid You mentioned [minutes.io](https://minutes.io/welcome). Can you tell us more about it?

[2017-01-30 20:12] diasdavid commented on #230
I recommend watching https://www.youtube.com/watch?v=8gRVckc_IkA, minutes.io is the culmination of already some good research on how to take good meeting notes.

[2017-01-31 00:29] kumavis commented on #188
@whyrusleeping I think we are under represented on the IPFS side. you should still talk! or just show a neat demo! would be nice after a high level talk from @jbenet  to see something concrete

[2017-01-31 20:39] frankiebee commented on #188
@all i need your other contact infos (frankie.pangilinan@consensys.net)... please shoot me an email of when you get in weather or not you are staying at the AirBnb and best place to be reached while in "transit"(not sitting infron of your laptop)

[2017-02-01 21:29] diasdavid commented on #188
@frankiebee thank you for pinging me! Here is my info:

- I'll be arriving on the 6th by 11:50am
- I believe you have reserved a bed for me, but it happens that @whyrusleeping also has a space for me in Seattle, so if the Airbnb is too crowded or if there is already people on the queue, please free my space and I'll stay with @whyrusleeping
- The best way to reach me is through IRC or Twitter twit

[2017-02-01 21:30] diasdavid commented on #188
Ah, @evilpacket will be joining us on the 6th to break in all the apps, can we arrange some accommodation for him that night?

[2017-02-01 21:54] frankiebee commented on #188
@diasdavid their shouldnt be a problem of space at the airbnb

[2017-02-01 22:03] frankiebee commented on #188
@evilpacket Wellcome! for how long will you be joining us?

[2017-02-01 22:16] diasdavid commented on #188
@kumavis how is the development of piping the eth chain from parity to js-ipfs? I'm thinking to take some usb sticks with it so that everyone gets it faster (it was painful to download it last time in Shanghai, the internet didn't help). Is there a `parityToIPFS.sh` script in a repo I can track?

[2017-02-01 22:18] frankiebee commented on #188
@diasdavid Airbnb stuffs:

@kumavis said he would bring air mattress but just an Fyi their are 4 bedrooms 5 beds (not including air mattress)
People staying at the AirBnb:
@frankiebee
@flyswatter
@wanderer
@zanibas
@jaredpereira
@axic
yourself
@jbenet I spoke with him on Monday and was unsure if he would stay at the AirBnb
@cdetrio

I Will let you guys figure out who is most comfortable sleeping i

[2017-02-01 22:33] frankiebee commented on #188
Gosh now that i look at it it dosent look like we have a ton of space but we also dont have "any one queued" to stay their.

[2017-02-01 22:37] frankiebee commented on #188
@evilpacket meet @apmilen he has a spot you can crash at for the hackathon.

[2017-02-01 22:52] evilpacket commented on #188
@frankiebee @apmilen appreciate a couch or floor, really anyplace would be amazing. Lots of new people to meet \o/

[2017-02-02 13:19] diasdavid commented on #230
btw, shouldn't this be in `pm`? What are the next actions from here?

[2017-02-02 13:20] diasdavid commented on #225
@RichardLitt that sounds good to me :)

[2017-02-02 13:22] diasdavid commented on #194
I'll be flying Friday, who will be at FOSDEM this year? :)

[2017-02-02 13:34] ara4n commented on #194
matrix will be there en masse - come say hi!

[2017-02-02 17:13] frankiebee commented on #188
@evilpacket i usually get ahold of @apmilen aka Andy here https://dapphub.chat/direct/zandy his handle is zandy on that chat

[2017-02-02 18:30] RichardLitt commented on #230
It could be in either; `pm` might have been better.

@flyingzumwalt You were the one who brought this up, IIRC. Can you help explain a bit more what you were hoping for?

[2017-02-03 00:46] diasdavid commented on #225
@RichardLitt we really need some of these things urgently, starting with the shift from `^` to `~` while we are still pre-1.0.0, a lot of people have troubles with this. //cc @nicola

[2017-02-03 01:23] RichardLitt commented on #225
@diasdavid Thank you for bringing that up. I'll highlight this on my list, and get to it in the next few days.

[2017-02-03 03:51] frankiebee commented on #188
@flyswatter
@jbenet
@whyrusleeping
@kumavis
@wanderer
@apmilen

if you are doing slides for your talk Sunday night please PR them here: https://github.com/MetaMask/IPFS-Ethereum-Hackathon

we will be using one laptop for the presentations

[2017-02-03 19:43] kennyrowe commented on #188
More details here: https://www.meetup.com/Seattle-Ethereum-Meetup/events/237147519/

[2017-02-04 00:14] flyingzumwalt commented on #230
I didn't have specific ideas. I just wanted to source people's ideas for how to help each other take good notes. fwiw I'd say this belongs in ipfs/pm but there's not much point in moving it.

[2017-02-05 00:59] apmilen commented on #188
@evilpacket send me an email with your contact info:

andrew.milenius@gmail.com

[2017-02-05 19:08] jbenet commented on #188
Hey everyone, did tonight's event get advertised to other meetups in the area? I see only 28 Yes RSVPs, which seems quite low. Most meetups eth or ipfs have usually many more. It's likely that interested people didn't see any announcements -- can we blast out to various groups now? It's super late but better than not.

[2017-02-05 19:11] kennyrowe commented on #188
@jbenet I did try and get the word out with other groups, but the real issue is probably that today is Super Bowl Sunday.

[2017-02-05 19:20] flyswatter commented on #188
Yeah, apologies for that, none of our organizers had the super bowl on their calendars. We will be video streaming & recording, and posting later, so you could think of it as a filming?

[2017-02-05 20:41] jbenet commented on #188
Oh hah I didn't even realize. Makes sense :)

Q: Do we have a good recording setup, for the talks?

[2017-02-05 21:16] flyswatter commented on #188
It looks like we have a decent setup, with lavalier mic and a camera on a tripod.

[2017-02-05 21:52] wanderer commented on #188
Quality over quantity

On 5 Feb 2017 1:16 p.m., "Dan Finlay" <notifications@github.com> wrote:

[2017-02-07 19:31] RichardLitt commented on #225
This should be done with [project-repos](https://github.com/ipfs/project-repos), I think. Or, at least, the captains should be noted there. Why did you think this would be useful?

[2017-02-07 19:53] RichardLitt commented on #225
I don't feel like this is organic or coming from the team; it looks like it is you, @diasdavid, saying this (as you can tell from your explaining how it will help and yes it is hard). I don't want to open a PR for this, because I don't think it has been discussed enough. Can you point me to the issue you make // have made on this?

[2017-02-07 19:54] RichardLitt commented on #225
@diasdavid Can you point me to a better one, or PR that?

[2017-02-07 19:54] RichardLitt commented on #225
Is this for js-ipfs, all js- modules, or just all modules in general in the `package.json`? Can you show me an example of a working `package.json` file you like?

[2017-02-08 18:36] frankiebee commented on #188
waver : https://app.rockgympro.com/waiver/esign/seaboulderingproject/f8a6bf1f-7dd4-4807-a824-a0b8eabdcb66

[2017-02-09 00:38] diasdavid commented on #225
@RichardLitt all of the items that I listed above were discussed during the gathering and agreed upon, nevertheless, to clarify:

project-repos might also be also a place for this information to live, however, it wasn't what we came out from the roundtable as an action item.

It is actually the other way around, organically we have been doing the WIP PR across js-ipfs and js-libp2p module ecosyste

[2017-02-09 15:07] RichardLitt commented on #225
### List all Js repos

Thee are 1871 dependencies for js-ipfs. Should I just list all ipfs/js-* and libp2p/js-* repos and leave it at that? Or ought I to be doing some more intelligent test?

### Dependencies on commits

Opening a PR now.

### .gitignore

looks like @diasdavid is getting it.

### Tilde clause

Creating a PR now.

[2017-02-09 22:46] lgierth commented on #197
tl;dr but I'm happy with whatever reduces the size of my github inbox :)

[2017-02-10 17:33] VictorBjelkholm opened #239 "Issue Bash Month/Week/Day"
Came across this blogpost from Gitlab: https://about.gitlab.com/2017/02/10/gitlab-issue-bash-march-2017/

TLDR is that Gitlab is organizing a month of opening/triaging/closing issues and shipping proposals with a draw for prizes in the end for the people participating.

I think this would be a very nice idea to organize across the IPFS ecosystem as well, to clean up our current issues, but a month

[2017-02-10 18:47] diasdavid commented on #225
![image](https://cloud.githubusercontent.com/assets/1211152/22839363/ec75dc20-ef7d-11e6-82aa-1fca5a8a3604.png)

I handled switching ^ to ~

-------

![image](https://cloud.githubusercontent.com/assets/1211152/22839372/fa86d95e-ef7d-11e6-9c86-3353b850f118.png)

Note my note above "created by us". I meant completing these tables:

- https://github.com/ipfs/js-ipfs#packages
- https://github.com/libp2

[2017-02-11 21:41] dignifiedquire commented on #197
@gr2m thank you for your help. But even with the new features enabled, the amount of notifications and PRs is currently just creating too much noice, given the amount of repos and interdependencies we have.

@diasdavid please lets remove greenkeeper for now and see how it goes. We can always enable if there is a better solution or we feel we are missing it greatly.

[2017-02-12 03:10] lgierth commented on #194
Did a meetup happen?

[2017-02-12 16:49] diasdavid commented on #194
Not a formal meetup, but we did all meet :)

[2017-02-13 19:46] RichardLitt commented on #225
Sorry, I was not clear enough. I am not the best person to know what extra modules are created by us which are relevant. Someone who is more familiar with the actual ecosystem should be doing this.

[2017-02-14 02:41] RichardLitt opened #241 "contribute.md for each repository"
It was brought up today in the All Hands call (ipfs/pm#243) that we could have a Contribute.md in each repository. As we already have a contribute section in every repo, as outlined by Standard Readme, this wouldn't be too much of an extra step, and it would flag everyone opening an issue or a PR on an IPFS repository to check the contributor guidelines. It could also hold a section for tests.

I

[2017-02-14 02:42] RichardLitt commented on #35
@dignifiedquire Pointed out that github [ added a default contributor license](https://github.com/blog/2314-new-github-terms-of-service). We could potentially use that. However, as @Kubuxu mentioned in the All Hands call, this means it is a bit more removed from git.

[2017-02-14 21:10] flyingzumwalt commented on #209
Related: https://github.com/ipfs/notes/issues/218 - a possible strategy for optimizing these transfers.

[2017-02-16 05:32] flyswatter commented on #188
Speakers: I'm editing up the talks into individual videos, if you want your slides edited into your talk, please submit your deck asap.  You can just send them to me by any means, keybase is pretty sweet, we have [a github folder for slides](https://github.com/MetaMask/IPFS-Ethereum-Hackathon/tree/master/slides), too.

[2017-02-16 07:16] apmilen commented on #188
@flyswatter here's my slides http://apm.keybase.pub/dapphub.key

[2017-02-16 10:22] jbenet commented on #188
@flyswatter my slides are here: https://ipfs.io/ipfs/Qme51FQycp922BN83u8KXUYKJAxVAtPJbk1rxxN26934pN

[2017-02-19 19:35] dignifiedquire commented on #241
This is a pretty awesome example of a contributing file: https://github.com/zkat/pacote/blob/latest/CONTRIBUTING.md

[2017-02-20 15:53] RichardLitt commented on #241
@dignifiedquire What do you think we could take from that?

[2017-02-20 21:43] Zanadar commented on #210
I've gotten too swamped at work and life to organize or seek out a location. If anyone is interested in organizing or taking over the meetup group, be in touch.

[2017-02-20 21:43] #210 closed

[2017-02-21 10:06] VictorBjelkholm commented on #241
I think the CONTRIBUTING.md @dignifiedquire linked is a very good example. Has a nice table of contents with many ideas on how people contribute, with links to each section explaining more. Seems to have come from this generator: https://www.npmjs.com/package/weallcontribute

[2017-02-28 00:52] kumavis commented on #188
thanks for coming all - I think we can close this one : )

[2017-02-28 15:04] #188 closed

[2017-03-03 12:13] VictorBjelkholm commented on #213
Have we made any progress on this? Seemingly, the activity rate on Discourse is not that high (last post seems to have been at 23th of January)

[2017-03-03 17:04] lidel commented on #213
Low participation is not surprising:
a)  `ipfs/faq`, `ipfs/support` and `ipfs/community` are still on Github, people are not directed to Discourse because there is not good content there (chicken and egg problem)
b) invasive anti-spam settings I mentioned [here](http://ipfs.trydiscourse.com/t/discourse-annoyances/35/18) may discourage people from posting at Discourse (there are no restrictions at

[2017-03-03 18:06] RichardLitt commented on #213
I agree with point a), at least.

I am unable to continue pushing this forward. I'll leave this up to the rest of the IPFS team to enact.

[2017-03-03 23:21] lgierth commented on #213
We could set up a two-way sync between discourse and github. Or just move everything over and close the repos (I'd be down for that by now).

[2017-03-03 23:27] dignifiedquire commented on #213
I think we should

1. move everything that makes sense over
2. have a DRI for discourse handling

[2017-03-07 02:36] RichardLitt opened #243 "Montréal Meetup"
[Meetup Group](https://www.meetup.com/Decentralized-Web-Montreal/events/238197836/)

There is going to be an Decentralized Web Meetup in Montreal two weeks from now. If anyone is keen on going, I'll be there, as will a few other IPFS people I think. I figured I would post this here, in case anyone in the IPFS community would like to come along.

### Details
Monday, March 20, 2017
7:00 PM to 9:00 P

[2017-03-07 12:13] VictorBjelkholm opened #244 "Barcelona Hacklab"
The idea have been sitting in mind for a while but better to write it out.

There is a lot of interest in IPFS and related projects in Barcelona and areas around it.

We've had two get-togethers here before, #166 and #67, which was a lot of fun.

But it would be nice to organize something that we can do regularly, and contained to decentralizing tech.

So my proposal would be to have a Hacklab tha

[2017-03-07 13:02] Iggy-Codes commented on #244
Hi everyone,
My first contact with IPFS was yesterday at Victor's talk. I'm really interested.
This is a very good idea, I'm totally for it!

[2017-03-07 17:27] geclos commented on #244
Hi!

I'm also very interested in it and would like to get involved!

Very interesting talk from victor at BCNJS.

[2017-03-07 17:31] diasdavid commented on #241
Do we want a CONTRIBUTING.md per repo, or a main one to all repos that is linked from a CONTRIBUTING.md in every repo (so that Github reminds contributors to check it) ?

[2017-03-07 18:26] dignifiedquire commented on #241
I think ideally we have the same file in every repo and a tool to sync it from a master file

[2017-03-07 23:09] RichardLitt commented on #241
That'll quickly dirty up the git history. Might be better to have a CONTRIBUTING.md in each repo that just links to a central one. You can repurpose the Contribute section of the README to point to the main one, too.

[2017-03-10 17:52] lgierth opened #245 "Community Zoom Account"
We've usually created meeting rooms using the Protocol Labs Zoom account -- it would be useful to have an account for the community that we can hand out to people that need to create meeting rooms, e.g. @sidharder.

[2017-03-13 19:56] flyingzumwalt commented on #190
We've finished the Trial (fwiw). Time to decide how to proceed.

Redirecting all "whether to pull the trigger" discussion to ipfs/community#69 so we can close out that long-running issue. Tracking the follow-up work based on those conclusions in https://github.com/ipfs/docs/issues/7

[2017-03-13 19:56] #190 closed

[2017-03-14 00:26] flyingzumwalt commented on #69
Notes from discussion about discourse during today's sprint call:

### Discourse - To kill or not to kill

If we do this, github will still handle feature requests, bug reports, design discussions, or any other discusions that are aimed at discrete tasks or improvements. By contrast, Discourse wil be our platform for Q&A and also the primary platform for asynchronous open-ended community discussio

[2017-03-14 00:56] flyingzumwalt commented on #69
**We will finalize the decision about Discourse on Friday 17 March 2017.**

I've made a decision document that we can use to _finally_ pull the trigger on this decision. See https://github.com/ipfs/community/pull/246

_If you have modifications to the proposal, modifications to the background information or if you want to block this proposal and argue for an alternative, please speak up before Fri

[2017-03-16 10:22] dignifiedquire commented on #69
thank you @flyingzumwalt for pushing forward on this!

[2017-03-19 12:42] joeblew99 commented on #222
@jbenet

I am in Berlin and hacking on multi / ipfs.
Very interesting what's happing.

Did the Berlin move forward ?

[2017-03-19 12:44] joeblew99 commented on #222
I think a presentation on the multi stack is needed. It's amazing tech and getting to understand the use cases envisioned with this is a god starting point to get to see why it's useful to use it

[2017-03-20 02:14] flyingzumwalt opened #247 "Figure out IPFS Facebook Presence"
I abhor the experience of interacting with Facebook but occasionally life forces me to do it. In my most recent reluctant interaction, I was looking for the IPFS page on facebook and found that there's a small IPFS group in addition to the neglected IPFS page.

This is basically an FYI, in case people who use facebook want to tidy things up.

IPFS Page: https://www.facebook.com/pages/InterPlanetar

[2017-03-20 23:47] jbenet commented on #222
thanks-- i dont think this happened, but there's enough interest for something regular.

I haven't yet given talks about multiformats specifically, but i usually wrap it up in other talks. eg https://www.youtube.com/watch?v=soUG72j7kB0

[2017-03-24 18:55] lidel commented on #213
Having _https://github.com/ipfs/community/pull/246: Decision Document: Creating a Community Forum for IPFS and Related Projects_
what will be the next step?

Changing `http://ipfs.trydiscourse.com` to  `*.ipfs.io` domain picked in https://github.com/ipfs/ops-requests/issues/33?

[2017-03-24 22:17] flyingzumwalt commented on #213
I just checked in with @lgierth about this. ipfs.io domain only allows https, even on subdomains. That means we will only be able to move discourse to discuss.ipfs.io after spinning up our own instance. We were planning to do that anyway. It just means we will have to wait a few more days before making the switch.

What are the other next steps? Off the top of my head:
- rename from "discourse tri

[2017-03-27 22:30] flyingzumwalt opened #248 "Philadelphia Meetup"
Our first Philadelphia IPFS Meetup will be in mid-April. I created a meetup.com group: https://www.meetup.com/Philadelphia-IPFS-Meetup

[2017-03-27 22:32] flyingzumwalt commented on #248
duplicate. see #220

[2017-03-27 22:32] #248 closed

[2017-03-27 22:33] flyingzumwalt commented on #220
Our first Philadelphia IPFS Meetup will be in mid-April. Someone offered to host the meetup at their house in West Philly. I created a meetup.com group: https://www.meetup.com/Philadelphia-IPFS-Meetup

[2017-03-28 02:06] baimurzin opened #249 "Is it possible to build p2p video streaming/call on top of IPFS?"
Hello everyone, I have interested in this question Is it possible to build p2p video streaming/call on top of IPFS?

[2017-03-28 02:38] tjayrush commented on #220
We're having an Ethereum meetup tomorrow if you guys are around: http://meetup.com/Philadelphia-Ethereum-Meetup.

[2017-03-28 15:36] chadoh commented on #220
What day in mid-April, @flyingzumwalt? Other meetups and such are being planned, and I want to make sure I make it to this one.

Wish I could make it to the Ethereum meetup tonight, @tjayrush!

[2017-03-28 16:34] flyingzumwalt commented on #220
@tjayrush sorry I can't make it. I'm out of town for a conference.

We're thinking of either Monday April 17 or Tuesday April 18. Does anyone have a preference?

[2017-03-28 17:39] gsf commented on #220
That Monday is better for me but either works. Go West Philly! Thanks for setting up the group, @flyingzumwalt.

Also hoping to make it to the ethereum meetup tonight.

[2017-03-28 18:11] chadoh commented on #220
I will be speaking at the Philly react meet up that Wednesday, the 19th,
about offline first and distributed web stuff. I might be able to drum up
more attendance for this meet up, if we want to do it after the 19th.
El El mar, mar. 28, 2017 a las 13:40, Sean Fern <notifications@github.com>
escribió:

[2017-03-28 20:50] flyingzumwalt commented on #220
I'll be out of town for the following 2 weeks. Better to do it on the 17th and then have another meetup in May.

[2017-03-29 03:10] tjayrush commented on #220
Either 17th or 18th works for me. We had a good turnout tonight--about 45.

[2017-03-31 05:40] flyingzumwalt commented on #69
We finalized this decision. We're going to use discourse. All the info is at https://github.com/ipfs/community/blob/master/decisions/community-forum-platform.md#decision

[2017-03-31 05:40] #69 closed

[2017-04-01 22:03] erlend-sh commented on #69
Don't forget about https://www.discourse.org/github for the moving process! More about it here:

https://meta.discourse.org/t/introducing-github-issues-to-discourse/46671?u=erlend_sh

[2017-04-04 19:52] flyingzumwalt opened #250 "Set up official IPFS forums site"
For background see https://github.com/ipfs/community/blob/master/decisions/community-forum-platform.md#decision The final proposal was titled **Use Discourse for All Community Support**. It was posted on https://www.loomio.org/d/imMrpwRF, specifying:

1. [x] Name a DRI for the rollover to Discourse and for ongoing management of Discourse @flyingzumwalt
2. [x] Set up discourse at discuss.ipfs.io su

[2017-04-04 19:53] flyingzumwalt opened #251 "Set up self-hosted discourse at discuss.ipfs.io"
This is part of #250

Tasks:
- [x] Deploy a copy of discourse
- [x] Setup mailing with Mailgun
- [x] Configure discourse to support mailing list mode
- [x] Migrate Github Application to @ipfsbot
- [x] Set up discourse to handle https
- [x] Migrate theming
- [x] Create discuss.ipfs.io DNS entry that points to the discourse instance
- [x] Redirect ipfs.trydiscourse.com to discuss.ipfs.io

## Referen

[2017-04-06 20:05] VictorBjelkholm commented on #251
And all the checkboxes are now checked and our own self-hosted Discourse is hosted at https://discuss.ipfs.io/

[2017-04-06 20:05] #251 closed

[2017-04-06 20:06] VictorBjelkholm commented on #250
@flyingzumwalt the self-hosted instance is now up and running and content from our demo-instance has been migrated.

[2017-04-11 06:56] diasdavid opened #252 "Discourse thinks urls to Github are spam"
![image](https://cloud.githubusercontent.com/assets/1211152/24896324/ab5dd8f0-1e94-11e7-9962-56367fa36bd2.png)

[2017-04-11 09:14] lidel commented on #252
@flyingzumwalt I feel default anti-spam protections provided by Discourse should be eased up a little bit.
It is quite discouraging when someone refers to something at github, and gets flagged as spam 😕
Github resources are nearly always a valuable input.

[2017-04-11 12:49] VictorBjelkholm commented on #252
Yeah, it wasn't because it was specifically referring to Github but rather that @diasdavid made two posts with three links to the same site, which triggered the spam filter. The limit has already been raised and shouldn't be triggered anymore. Also, the posts were flagged but not hidden/removed, so no action required there.

We should figure out other anti-spam values as a part of https://github.c

[2017-04-11 12:49] #252 closed

[2017-04-11 15:33] chadoh commented on #220
This is next week. Which day we going with? Let's get it on the calendar.

[2017-04-11 23:19] flyingzumwalt commented on #220
Yes! Thank you for reminding. Let's do Tuesday April 18th. (I forgot that I'll be [teaching a meditation class](https://www.cultureworksphila.org/events/2017/4/6/mindful-mondays-at-cultureworks) on Monday)

[2017-04-11 23:33] chadoh commented on #220
Perfect for me
El El mar, abr. 11, 2017 a las 19:19, Matt Zumwalt <notifications@github.com>
escribió:

[2017-04-11 23:37] flyingzumwalt commented on #220
@gsf do you want to moderate? I put a little gesture of a schedule into the [event listing on meetup.com](https://www.meetup.com/Philadelphia-IPFS-Meetup/events/239142784/) but I like your suggestion that the format should be a mix of personal introductions, presentation, and working on stuff together.

[2017-04-12 00:28] gsf commented on #220
I'm happy to moderate. Do we have a location?

[2017-04-12 00:30] tjayrush commented on #220
I have a nice location at the WeWork offices in Northern Liberties if that works. How many people might attend? I would need a couple weeks notice prior to the date to make the reservation.

[2017-04-12 01:22] flyingzumwalt commented on #220
We do have a location lined up for next week. Liz, whose last name I don't remember, is going to host at her house in West Philly. I'm just waiting to get the address so I can post it on the Meetup. @tjayrush thanks for offering to host at WeWork. I suspect that future meetups will be bigger and we will need that space for it, but this first meetup should be less than 30 people and it will be nice

[2017-04-12 04:31] flyingzumwalt commented on #220
I got the address from liz. It's on the meetup event now. https://www.meetup.com/Philadelphia-IPFS-Meetup/events/239142784/

[2017-04-12 07:51] diasdavid commented on #244
Talk is now available at https://www.youtube.com/watch?v=KrNuRKYmtTI

🙌🏽  @VictorBjelkholm

[2017-04-12 07:52] #194 closed

[2017-04-12 07:53] diasdavid commented on #184
@RichardLitt did this happen? Let us know if there were any talks and or pics \o/

[2017-04-12 07:53] #184 closed

[2017-04-12 08:02] diasdavid opened #253 "jsLand.next()"
Here are the ones we covered this quarter and the decisions we made converted in actionable tasks:

- [ ] Add a CONTRIBUTING.md to every repo that points to our JavaScript and Commit guidelines. https://github.com/ipfs/community/issues/241
- [ ] Update the JS guidelines to reflect latests standards https://github.com/ipfs/community/issues/225
- [x] Cancel the Greenkeeper for the time being until w

[2017-04-12 08:04] diasdavid commented on #197
We are turning greenkeeper off for now until we have a way to make it less noisy (less notifications/issues open) and less intensive on the CI. Thank you all for having participated in this discussion and help evaluate our options here.

[2017-04-12 08:04] #197 closed

[2017-04-12 08:13] diasdavid commented on #151
No more need for this

[2017-04-12 08:13] #151 closed

[2017-04-12 08:14] diasdavid commented on #134
-> https://github.com/ipfs/reading-list

[2017-04-12 08:14] #134 closed

[2017-04-12 13:29] RichardLitt commented on #184
Nope! No one seemed to notice. But I had a meet up by myself anyway, and good times were had by all.

[2017-04-14 15:34] flyingzumwalt commented on #224
A couple people have suggested doing this on Slack, possibly in the code4lib Slack (as suggested by @cmh2166 [here](https://github.com/ipfs/archives/issues/68#issuecomment-294166467)). I want to do whatever works for the most people. Personally I'm suffering from Slack overload due to the proliferation of Slack teams that I'm obligated to be on.

Would it make sense to try using the new IPFS disco

[2017-04-14 15:34] flyingzumwalt commented on #224
related conversation on twitter https://twitter.com/ennomeijers/status/852561763052793856

[2017-04-14 19:01] alan-andrade commented on #53
Any plans for another meetup around SF ?

[2017-04-14 20:49] whyrusleeping commented on #53
Would be pretty cool to do

[2017-04-14 22:45] harlantwood commented on #53
Yeah!  👍

[2017-04-15 00:47] RichardLitt commented on #53
I might be there in mid-June.

[2017-04-15 17:01] lidel commented on #224
Regarding Slack and open initiatives: https://dave.cheney.net/2017/04/11/why-slack-is-inappropriate-for-open-source-communications 🙃

I got low key feeling that sub-category in Discourse could improve discovery and cross-pollination.

[2017-04-15 23:49] alan-andrade commented on #53
Awesome ! Looking forward for it.

[2017-04-16 02:01] dryajov commented on #53
I migth be able to make it.

[2017-04-16 02:32] flyingzumwalt commented on #224
I've created a "Libraries Archives and Museums" category on discuss.ipfs.io and opened a thread asking [Who's using IPFS in Libraries Archives and Museums](https://discuss.ipfs.io/t/whos-using-ipfs-in-libraries-archives-and-museums/130). I hope you'll all chime in with info, ideas, links and requests for collaborators!

[2017-04-17 02:02] cmh2166 commented on #224
thanks, @lidel !

fwiw, i'm not trying to be a slack apologist here. just wanting some sort of communication coordination for the various threads (some not getting picked up by others) and communication methods already presented.

[2017-05-01 15:55] RichardLitt commented on #222
I am currently in Berlin, and will be until May 12th.

Anyone fancy an IPFS Un-meetup meetup at a nice bar? Decentralized web chats?

[2017-05-03 03:37] meyerscr commented on #210
I can take over the meetup group.

[2017-05-03 17:21] Zanadar commented on #210
sounds great @meyerscr Send me you email, and I'll pass of the meetup group that I registered to you.

[2017-05-03 23:43] meyerscr commented on #210
I sent you an email through your company. I don't have Twitter.

[2017-05-04 14:00] Zanadar commented on #210
Didn't get it. Best to use zmackie at gmail do com

[2017-05-04 14:09] meyerscr commented on #210
Go ahead and delete that comment.

[2017-05-13 02:37] flyingzumwalt opened #255 "configure discourse to support posting via email"
Need this in order to properly replace the mailing list.

Currently in order to respond to our discourse threads you need to use the web ui. To enable posting/responding via email we need to set up a mailbox in gmail and point discourse at it.  @lgierth has the details.

adding this to #250

[2017-05-13 12:28] Kubuxu commented on #255
I was able to respond to discourse with email, but it might be before we switched from try-discourse.

[2017-05-15 16:28] asymmetric commented on #11
How are we doing re: swag? :D

[2017-05-15 17:48] whyrusleeping commented on #11
We've got a shopify store close to being set up, and are prepping a few things on it. @skylarnorris can probably provide more info

[2017-05-15 17:59] skylarnorris commented on #11
@asymmetric hey, yes we are close to launching our swag store -- we just have a few adjustments to make and are awaiting the inventory for the final few items we need.  Anticipate this launch date being the end of the next week.  :)  Let me know if you have any other questions I can answer!

[2017-05-16 00:24] lgierth commented on #255
I've set the from-address on notification emails to no-reply@ipfs.io for now -- another email from someone just ended up on the discuss@ipfs.io email list.

[2017-05-17 17:50] lbmn commented on #177
IPFS should have started with a C/C++ implementation, and used wrappers for all other languages ([Nim](https://nim-lang.org/) is of particular interest to me).  Starting with Go and JS was a mistake IMHO, and I don't think IPFS will get very far unless a C/C++ implementation takes over.

[2017-05-17 18:34] whyrusleeping commented on #177
This thread is about people who are implementing or interested in implementing IPFS in new languages. If you are interested in working on IPFS in C, @kenCode-de would love to have more help with that effort. Complaining about the existing implementations helps nothing.

If your concern is that you cannot bind to existing implementations with other languages, take a look at building shared librarie

[2017-05-17 18:42] whyrusleeping commented on #177
You might also be interested in this thread about a C/C++ implementation: https://github.com/ipfs/ipfs/issues/164

[2017-05-26 20:24] skylarnorris commented on #188
@kumavis I heard that the stickers never arrived for this event - so sorry!  Not sure what happened with the order, but would love to order a bunch and send them to y'all.  What is a good address to ship them to?

[2017-05-31 20:54] kumavis commented on #188
@skylarnorris sent an email, thanks/

[2017-06-14 23:45] diasdavid opened #257 "MozFest 2017 - October 27-29"
![image](https://user-images.githubusercontent.com/1211152/27159233-68f97332-5163-11e7-97ac-d92db244f8ba.png)

Looks like MozFest would be an extraordinary event for the IPFS community to meet and possibly give an update about what we are up to these days :)

We are still on time to propose sessions: https://mozillafestival.org/proposals (deadline Aug 1)

Thanks to @pgte for hinting me at this and

[2017-06-14 23:55] lgierth commented on #257
I would love to do something like an "IPFS Mission AMA/Q&A/Discussion" session. There's so much more to spread into the community than just purely technical things. (I'd also be up for co-hosting that session.)

[2017-06-15 10:02] TKorr commented on #257
I live in london so would be up for meeting up/helping out

[2017-06-27 10:08] VictorBjelkholm opened #259 ""Awesome Talks" playlist on Youtube"
Inspired by https://github.com/ipfs/research-CRDT/issues/6, it would be great if we had a public playlist on Youtube with bunch of talks/videos about IPFS and technologies that are related to IPFS.

[2017-07-03 20:59] diasdavid opened #260 "Help us curate our Youtube channel - Demos"
We've been producing a lot of great content together as a community for the last 3 years, however, as time passes it becomes harder and harder to find it!

After todays [demos](), I thought it would be great to have several playlists of the videos we upload, but also the ones that get published in other channels about IPFS.

Now you can find playlists for Demos, Talks, Interviews and more at
https

[2017-07-03 23:23] UltraFlow commented on #260
Thank you!

[2017-07-03 23:51] claus opened #261 "Meetup in São Paulo, Brazil?"
So i'm in São Paulo, far away from any established IPFS meetups. Wondering if there is anyone near me in the same situation? :)

Not sure if i'm the right person to "organize" a "proper" meetup (my portuguese skills are, well, very basic), but maybe we can kick something off?

[2017-07-04 10:21] Fil commented on #53
Any chance of doing something in SF between 8 September and 21 Sep, 2017? (I'll be visiting from France.)

[2017-07-04 20:42] kumavis commented on #260
here is the playlist from our eth-ipfs hack week kick off
https://www.youtube.com/playlist?list=PLvf2RZCNC-UD2RLRs8jnIkhG8iXiKIH9w

[2017-07-08 20:01] diasdavid commented on #241
Yeah, that's what I did here: https://github.com/libp2p/js-libp2p/blob/master/CONTRIBUTING.md

Looks good?

[2017-07-08 20:26] RichardLitt commented on #241
LGTM.

[2017-07-08 20:31] diasdavid commented on #259
Let's move this effort to https://github.com/ipfs/community/issues/260

@pgte could you share the talks you already have in your bookmarks on https://github.com/ipfs/community/issues/260 ? Thanks!

[2017-07-08 20:31] #259 closed

[2017-07-08 20:34] diasdavid opened #262 "Create a single go-contributor-guidelines document"
Following up the convo on https://github.com/ipfs/community/pull/202, it seems that overall, the go-ipfs contributors would be happy with having canonical contributor guidelines doc.

@lgierth assigning this to you as you were the last lead on https://github.com/ipfs/community/pull/202

[2017-07-08 20:36] diasdavid commented on #255
This seems like an infrastructure ticket.

@lgierth I didn't manage to understand if with https://github.com/ipfs/community/issues/255#issuecomment-301640653 this issue became 'handled'

[2017-07-08 20:37] diasdavid commented on #250
This has been done :) 🎉 good work everyone!

# => https://discuss.ipfs.io

[2017-07-08 20:37] #250 closed

[2017-07-08 20:38] diasdavid commented on #225
continuation of this work is on #253

[2017-07-08 20:38] #225 closed

[2017-07-08 20:43] diasdavid commented on #223
@flyingzumwalt could you post the url to the video? Would love to also link it from the IPFS youtube channel.

[2017-07-08 20:44] diasdavid commented on #219
@dignifiedquire is this change coming with the new aegir?

[2017-07-08 20:45] diasdavid commented on #218
@mishmosh I know you have been collecting a lot of the uses of IPFS, you might have some thoughts on how to work with the community to organize this information collaboratively :)

[2017-07-08 20:46] diasdavid commented on #215
Documentation: https://github.com/ipfs/interface-ipfs-core/tree/master/API/dag
Examples: https://github.com/ipfs/js-ipfs/tree/master/examples/dag

[2017-07-08 20:47] diasdavid commented on #213
# It has been done https://discuss.ipfs.io/ 🎉

[2017-07-08 20:47] #213 closed

[2017-07-08 20:48] diasdavid commented on #200
@lgierth would you be interested in setting this up for js-ipfs, go-ipfs, js-libp2p and go-libp2p and make them availble through, for example: `gource.ipfs.io/{js-ipfs, go-ipfs, ..}` ?

[2017-07-08 20:50] diasdavid commented on #195
# Last week, July 3, 2017 we had:

- IIIF Annotations over IPFS - https://www.youtube.com/watch?v=hmAniA6g9D0&feature=youtu.be&t=10m40s
- Ethereum over IPFS - https://www.youtube.com/watch?v=hmAniA6g9D0&feature=youtu.be&t=35m42s

🎉

[2017-07-08 20:53] diasdavid commented on #175
@skylar, just signaling this to you as I know you have been working on making it easier for the community to get Stickers and other types of swag. Currently, this is the only information publicly available, a very old issue. I'm not sure if now is the best time, but in the future we can bump this to the readme of the repo :)

[2017-07-08 20:54] diasdavid commented on #153
This was done on https://github.com/ipfs/pm/pull/136/files by @flyingzumwalt

[2017-07-08 20:54] #153 closed

[2017-07-08 20:55] diasdavid commented on #147
This is now part of #253

[2017-07-08 20:55] #147 closed

[2017-07-08 21:15] flyingzumwalt commented on #224
This conversation moved to https://discuss.ipfs.io/t/community-ipfs-in-libraries-archives-and-museums/130

We have had 2 GLAM community calls so far.

[2017-07-08 21:15] #224 closed

[2017-07-08 21:16] flyingzumwalt commented on #223
here's @flyingzumwalt's presentation: https://youtu.be/xRuPShYelm4?t=3h7m40s

Slides:

PDF: Code4Lib 2017 - Golden Age for Libraries - Storing Data Together.pdf
Keynote: Code4Lib 2017 - Golden Age for Libraries - Storing Data Together.key

The avatars mentioned in the Q&A have been published at https://github.com/ipfs/artwork

[2017-07-08 21:18] flyingzumwalt commented on #223
Also @jschell42 made an edit of the video that's just my talk. https://www.dropbox.com/s/fy7tj35450rdmx2/Matt_C4L.mov?dl=0

[2017-07-08 21:22] flyingzumwalt commented on #162
Those workshop materials ended up having mostly stuff that's not directly relevant to IPFS. The parts that _are_ relevant went straight into the [Decentralized Web Primer](https://dweb-primer.ipfs.io)

https://codeforphilly.github.io/decentralized-data/tutorials/

[2017-07-08 21:22] #162 closed

[2017-07-08 21:40] dignifiedquire commented on #219
support for both is there already

[2017-07-10 08:54] pgte commented on #260
Some lectures on the topic of __CRDTs__:

* Coding CRDTs playlist: https://www.youtube.com/playlist?list=PLzUeAPxtWcqxBXjUelmcm5ORVjEpbUlHH
* Dmitry Ivanov & Nami Naserazad - Practical Demystification of CRDT (Lambda Days 2016): https://www.youtube.com/watch?v=PQzNW8uQ_Y4
* GOTO 2016 • Conflict Resolution for Eventual Consistency • Martin Kleppmann: https://www.youtube.com/watch?v=yCcWpzY8dIA
* El

[2017-07-10 09:59] diasdavid commented on #260
Found one from Carlos Baquero himself https://www.youtube.com/watch?v=y_ewFP-lgyM

[2017-07-10 10:00] diasdavid commented on #260
Playlist here: https://www.youtube.com/watch?v=em9zLzM8O7c&list=PLuhRWgmPaHtSvjFsjaVm_Fj9nXuwW35Ai

[2017-07-10 11:16] VictorBjelkholm commented on #255
Huh, this should already work, it worked when I first setup the Discourse instance. I will take a look at this.

[2017-07-11 06:54] diasdavid opened #263 "Enable 2FA to the IPFS orgs (ipld, libp2p, multiformats and of course, ipfs)"
As discussed on the [IPFS All hands of July 10](https://github.com/ipfs/pm/blob/master/meeting-notes/2017-07-10-all-hands.md). We want to turn on mandatory 2FA for accounts that have contributors access with write or admin permissions.

We can time box de decision to turn this on till next Thursday and then give it a try for 1 or 2 months, my guess is that it won't stop anyone from contributing as

[2017-07-12 16:22] fastdraw07 opened #264 "IPFS and map data"
Could IPFS be used to decentralize Satellite Map data?

[2017-07-12 17:45] magik6k commented on #264
It has been used for that already, see: https://ipfs.io/ipfs/QmNfwFPQqJARCQz87i1V3uAEF2t6WxAffTfA678Ad1JZiv/?/ipfs/QmUefFZttPf9xq4KTkk94rBbZEVrBsTreDi4JA8KYhQFX6/

https://github.com/davidar/ipfs-maps

[2017-07-14 17:46] diasdavid commented on #263
The users that currently don't have 2FA enabled are:

- @cboddy
- @dryajov
- @em-ly
- @gavinmcdermott
- @heems
- @ianopolous
- @ipfsbot
- @keks
- @lidel
- @magik6k
- @NeoTeo
- @SidHarder
- @substack
- @vyzo
- @wking
- @zignig
- @mikolalysenko
- @pfrankw
- @tabrath
- @tehmaze

Apologies for bringing everyone to this thread, but I have an important question for you: **Is there something stopping you

[2017-07-14 19:07] fastdraw07 commented on #264
@magik6k Thank you for link. Very cool.

I'm thinking about a startup using maps and IPFS and one of the blockchains. If you know any really good devs, I'd appreciate the intor.

[2017-07-14 19:52] ianopolous commented on #263
@diasdavid What is the threat model you are trying to defend against? Depending what you are trying to defend against you might not actually end up more secure.

Something like Github is an interesting example because Git itself is already decentralised and content addressed, which removes a lot of attack vectors by design.

For example, if the threat is someone inserting malicious code into binar

[2017-07-14 20:12] diasdavid commented on #263
@ianopolous there are no silver bullets for security, but you do decrease the chances of getting exploited by the barriers you put in place. We just have to be careful about the tradeoffs, is 2FA a pain to contributors? Apparently, most of us use 2FA today and it hasn't caused any harm to our productivity, is that any good reason why not to?

[2017-07-14 20:18] ianopolous commented on #263
@diasdavid That's my point, depending on the threat model you are defending against, you don't necessarily decrease the chance of being successfully attacked. What is being defended against?

[2017-07-14 20:23] diasdavid commented on #263
This measure will reduce the chances of exploiting the participants in the IPFS community, most of which have write and/or admin access which gives them interesting targets as they can change more than code.

This sets up a sane default. It also helps to set the frame of mind in which people participate actively in these repos. By requiring 2FA, a user will, at least, learn and think why this is i

[2017-07-14 20:44] dryajov commented on #263
@diasdavid mine is enabled now.

[2017-07-14 20:48] lidel commented on #263
@diasdavid I enabled 2FA in form of [TOTP](https://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm) ([RFC6238](https://tools.ietf.org/html/rfc6238)) tokens.
(After initial pairing TOTP does not require network connectivity to generate time-based token, which makes it significantly safer than SMS)

[2017-07-14 22:58] diasdavid commented on #263
@dryajov mind double checking, still seeing like this:
![image](https://user-images.githubusercontent.com/1211152/28233655-261d3d60-68f0-11e7-8141-908d8c1043a6.png)

[2017-07-14 23:06] dryajov commented on #263
@diasdavid how about now?

[2017-07-14 23:44] diasdavid commented on #263
@dryajov  👌🏽

[2017-07-16 08:57] vyzo commented on #263
@diasdavid 2FA enabled. Makes me queasy to have my phone control my access, it's perhaps the least secure device I own.

[2017-07-16 09:39] lidel commented on #263
@vyzo you don't need to use your phone. TOTP is an open standard and there are clients for all platforms. If you are looking an alternative for phone, e.g. want to use trusted unix box, a commandline TOTP  app ([example](https://pypi.python.org/pypi/authenticator)) could be run from a remove machine over SSH.

[2017-07-18 04:00] lgierth commented on #200
Nope not interested :) Gource is just a CLI tool that uses OpenGL for rendering - everything else for making this run in browsers is missing.

I'll happily set up a domain though if someone else makes it work and puts it into ipfs.

[2017-07-19 21:23] ianopolous commented on #263
To save other people the research, I'm summarising my findings trying to get this working to my satisfaction (from both a security and convenience perspective).

In my ideal setup I'd have 2 yubikeys, either of which would be usable as the second factor, without ever going via a phone, and definitely not via sms, and maybe some printed backup codes.

Github requires you to enable 2FA using a TOTP

[2017-07-20 09:03] Kubuxu commented on #263
@ianopolous Github has Yubikey support, if you are using FF you have to install plugin: https://addons.mozilla.org/en-US/firefox/addon/u2f-support-add-on/

[2017-07-23 22:31] diasdavid commented on #264
More notes on https://github.com/ipfs/notes/issues/142

[2017-07-23 22:31] diasdavid commented on #264
In fact, mind if we redirect this convo to https://github.com/ipfs/notes/issues/142 ? Trying to keep the house organized so that we make it easier for newcomers :)

[2017-07-23 22:31] #264 closed

[2017-07-23 22:32] diasdavid commented on #263
@ianopolous I believe that @Kubuxu proposal solves your issue. Mind trying it?

[2017-07-24 21:51] ianopolous commented on #263
There are several problems with that plugin:
1) Who is the author and why should I trust them? I would have much more trust in a built in solution from Firefox which passes all their process and review hurdles (as well them having a reputation to protect). (Apparently hardware U2F is coming to Firefox native later this year, unclear when though)
2) It will stop working in Firefox 57 because it was

[2017-07-24 22:00] SidHarder commented on #263
Hi David,

My account is setup now.

Sid.

On Mon, Jul 24, 2017 at 3:51 PM, Dr Ian Preston <notifications@github.com>
wrote:

[2017-07-25 18:33] cboddy commented on #263
2FA enabled.

[2017-07-25 19:41] diasdavid commented on #263
Thank you @SidHarder @cboddy ❤️

[2017-07-25 20:23] cmh2166 commented on #263
done.

[2017-07-25 20:40] diasdavid commented on #263
awesome @cmh2166 :)

[2017-07-26 20:51] ianopolous commented on #263
Thanks to @cboddy I've got a satisfactory solution now that meets my strict requirements (and I'll tolerate firefox not working with the yubikey for a few months). I contacted Github directly and the reason they don't allow yubikeys to be the primary second factor is exactly because it only works in chrome at the moment.

For those interested: ~100 lines of easily audit-able python code that only

[2017-07-26 21:29] diasdavid commented on #263
woot! Thank you :D

Now IPLD has also 2FA enabled for everyone 🌟

Missing:
- [ ] ipfs
- [ ] libp2p
- [ ] multiformats

[2017-07-26 22:39] tabrath commented on #263
Enabled 👍

[2017-07-27 09:39] magik6k commented on #263
Enabled quite a while ago

[2017-07-27 09:49] keks commented on #263
Also enabled it!

[2017-08-03 00:09] balupton commented on #218
this can probably be replaced by https://github.com/ipfs/awesome-ipfs

[2017-08-11 21:34] RichardLitt commented on #218
@diasdavid I can't seem to unassign myself, but I won't be getting to this in the near future.

If someone from the community wants to take this, go for it!

[2017-08-11 21:34] RichardLitt commented on #223
@flyingzumwalt This can probably be closed now. :)

[2017-08-11 21:43] RichardLitt commented on #218
I can't unassign myself, but I won't be getting to this soon. If anyone wants to take it, go ahead!

[2017-08-11 21:47] RichardLitt commented on #175
I've updated this comment to reflect Skylar's email address. Send her your sticker reimbursements, peeps!

[2017-08-11 22:40] #223 closed

[2017-08-14 21:11] patcon commented on #260
Since you're already curating youtube playlists, you might also like to pay $1/month and get auto-generated video/audio podcasts :)
http://podsync.net/

And if so, feel free to pipe up on this issue to motivate the awesome dev on that project :)
https://github.com/podsync/issues/issues/3

[2017-08-24 05:50] rasmuserik commented on #51
Just want to add that we are making a small mini-hackathon this Friday/Saturday in Copenhagen

- Announcement: <http://solsort.com/2017-08-25-js-ipfs-mini-hackathon>
- Corresponding event on meetup: <https://www.meetup.com/Copenhagen-IPFS-Meetup/events/242282615/>

[2017-08-24 07:31] diasdavid commented on #51
That is awesome @rasmuserik :D

[2017-08-24 14:38] diasdavid commented on #253
Linking here the usage of yarn comment: https://github.com/ipfs/js-ipfs-bitswap/pull/142#issuecomment-324649837

And the log from IRC convo:

[code]

My proposal on Yarn vs npm5. Let's wait to chat again in 3 weeks, a lot of time has passed. I've been using npm5 and so far not seeing issues anymore. I'm not particularly against using another package manager, just would really prefer to avoid askin

[2017-08-24 14:39] diasdavid commented on #253
Also, thank you for self assigning yourself to the remaining items on this issue, @VictorBjelkholm 🌟

[2017-08-25 11:28] dignifiedquire commented on #253
Proposal: Get some paid containers on CircleCI and stop using travis for javascript projects. At this point travis is just too unreliable and too slow for being an actual help. Ref https://github.com/ipfs/js-ipfs-bitswap/pull/142

[2017-09-02 10:29] smeeklai opened #265 "Is it a good idea to store confidential docs on IPFS?"
First of all, great job to all the creators of this project.

I just have a quick question about how would I use IPFS with my idea.

My idea is users can store their confidential docs on the IPFS. However, only people who are verified and granted right by me can access those files. Is it possible to use IPFS with the idea?

Cheers

[2017-09-02 17:48] Stebalien commented on #265
At the moment, the only way to achieve this is through private networks where only authorized participants (those with the shared secret key) are allowed to join the network. We don't yet have access control on a file-by-file basis.

[2017-09-04 17:11] dryajov opened #266 "Meetup in San Jose, Costa Rica?"
I'm currently in CR and would be interested in getting an IPFS meetup going. I've got a one set up [here](https://www.meetup.com/The-Distributed-Web-La-Web-Distribuida) if anyone is interested in joining. I could also use some help organizing it and getting a place to host it.

[2017-09-04 21:45] zinovi commented on #265
Regardless, you should encrypt all your confidential files at rest. Then you could threat IPFS as untrusted storage and concentrate on protecting your keys.

[2017-09-07 14:36] elopio commented on #266
Hello @dryajov.

I am Costa Rican. We have a [jaquerespeis](https://github.com/jaquerespeis/) where we can help you finding a good place, depending on what you need.

Are you free on saturday?

pura vida.

[2017-09-11 19:15] whyrusleeping opened #267 "Sub-communities for different languages"
Someone brought up recently on IRC that it would be nice to have places to chat with ipfstronauts in languages other than english, in particular russian was asked for.

Theres many different ways we could do this, but it should be done carefully. I'm opening this issue as a place for us to discuss the right way forward here.

[2017-09-11 19:41] lemmi commented on #267
To summarize a couple of thoughts I brought up on IRC:

* At the moment, IPFS is accessible by tech-savvy people for the most part. Knowing english is almost a requirement to work in that field. I don't think that right now other languages are adding any real value.
* Communities in other languages need access to documentation. Otherwise english versions will need to be referred to and then people

[2017-09-11 21:00] zinovi commented on #267
I think that official multilingual support risks splitting the focus of our community.

On the other hand, if there is no path of integrating the multi-lingual communities, they will form outside, in isolation.

That could lead to fragmenting. Russian communities are prime example, as they are vibrant and tend to form on their own. That leads to a situation in which a lot of high-quality content i

[2017-09-14 04:43] dryajov commented on #266
Hi @elopio!

Sorry for the late response. We can plan something for the next few days! I'll ping you on twitter and we can discuss some of the details there. Lets keep this issue updated with the latest developments tho! 👍

[2017-09-15 18:33] dryajov commented on #266
We have a date (and a place) :)!

This coming Saturday, Sept 23rd in the Catecu auditorium in UCR (Universidad de Costa Rica) - at 6pm we're going to do a presentation on IPFS and libp2p. There is also going to be a gender and technology talk at 4pm at the same auditorium! After the presentation, we're going to head to 'La Casita del Humo' for some local brews.

The next Saturday, Sept 30th - we'r

[2017-09-18 17:59] elopio commented on #266
@dryajov there is a blockchain meeting in ulead on the 27th: https://www.meetup.com/BlockchainCR/events/243015816/

I won't be able to attend that one, but maybe you can go and invite people to the workshop. Or we can just leave a comment there.

[2017-09-19 04:08] dineshrivankar opened #268 "Private Network with IPFS not working"
We have created 2 nodes using stranded ( https://ipfs.io/docs/install/)
Both are connected to the public network and working fine.
Now we are trying to create a Private Network with these 2 nodes as described below, but data is not getting synced on both nodes.
https://github.com/ipfs/go-ipfs/blob/master/docs/experimental-features.md#private-networks

Below is the responce when we start daemon
[co

[2017-09-19 10:53] #268 closed

[2017-09-19 12:51] Kubuxu commented on #268
@dineshrivankar have you solved this?

[2017-09-20 04:13] dineshrivankar commented on #268
@Kubuxu Yes , resolved by coping the swarm.key  in `~/.ipfs/swarm.key` for all nodes in th enetwork.
Also bootstrapped the main node with the other network address.
Hope its the correct way.

[2017-09-20 19:18] elopio commented on #266
We are still waiting for confirmation of the place for the 30th. As I won't be around that day, @leojimenezcr agreed to help. He will be with you that day, @dryajov. Please let us know what are your requirements for the workshop to make sure that everything is ready.

[2017-09-20 21:36] dryajov commented on #266
I'll reach out directly to work out the details. @elopio

[2017-09-27 15:01] Agorise commented on #177
C-IPFS is now functional, pre-release of v1.0 is online, API and IPNS is working, just doing all the testing and fixing and testing and fixing now... Getting it to play nice with the Go version.. priceless ;)
https://github.com/Agorise?tab=repositories
Peace, Love, and Agorism,
  kenCode

[2017-09-27 15:16] whyrusleeping commented on #177
@Agorise Thats great! I'm gonna try it out now :)

[2017-09-27 15:17] whyrusleeping commented on #177
@Agorise where should users report issues? The repo you linked doesnt have an issue tracker

[2017-09-27 15:18] Agorise commented on #177
We should have .deb and raspi builds in the next few days there as well..
kenCode

[2017-09-27 15:21] Agorise commented on #177
oops, forgot to turn it on. here ya go:
https://github.com/Agorise/c-ipfs/issues
kenCode

[2017-10-05 07:54] Stebalien opened #269 "[OKR] Reduce and Track Response Times"
1. Ensure we respond to all issues/questions within X days.
  1. On repos: ipfs/go-ipfs, ...? (we need a concrete list)
  2. On discuss.ipfs.io.
2. Track response times.
  1. For github, we can write a script that queries the API.
  2. For discourse, there's a "mean time to first response" metric we may be able to use (although this might require upgrading our discourse install?).

[2017-10-05 07:59] Kubuxu commented on #269
For Github I would go the path of subscribing to all webhooks and the writing something that would filter and pull out statistics from this data.

This would allow us to in future compare how we improved according to different metrics.

[2017-10-05 08:04] Stebalien commented on #269
I think something that queries the API (it's possible to download issues+comments using the API) as needed may be simpler (no online infrastructure).

[2017-10-05 08:06] Kubuxu commented on #269
It can be even a heroku app. It would just log the events, the infrastructure is minimal and it gives us much better introspect. GH API has 1000req/h limit so collecting all this data on demand could take a while.

[2017-10-05 08:13] Stebalien commented on #269
@Kubuxu Maybe. However I don't think we usually have >1000 issues opened per quarter (although I may be wrong).

[2017-10-05 08:14] Kubuxu commented on #269
I don't think there is no good way to filter them and also you have to query each repo separately.

[2017-10-05 08:16] lidel commented on #269
An example of prior art in "github analytics": https://github.com/StephenOTT/GitHub-Analytics, it seems to have a concept of Org-wide aggregation:

As for Discourse, we could have a script that identifies threads that are X days old and have no response, and have a bot e.g. on #ipfs that surfaces such questions.
Discourse already tracks "Time to First Response": https://meta.discourse.org/t/time-t

[2017-10-05 08:19] Kubuxu commented on #269
The https://github.com/StephenOTT/GitHub-Analytics looks awesome but might be a bit out of date.

[2017-10-05 08:40] lidel commented on #269
Bit more up-to-date  approach would something like https://github.com/grafana/github-to-es:

This setup should be quite flexible: data aggregation is separate from visualization, aggregation can be incremental.
Grafana enables us to create custom dashboards, and we can extend it with various sources of community data (eg. display github and discourse on the same graph for comparison).  Negative si

[2017-10-05 09:48] Stebalien commented on #269
We also need a way to keep track of issues needing responses.

[2017-10-05 09:49] whyrusleeping commented on #269
I think getting all of our github data into elastic search would give us the ability to easily make queries like "issues with no response for a week"

[2017-10-05 11:08] VictorBjelkholm commented on #269
I'll just dump what I have previously written locally on this subject.

### Metrics to track

- Activity
	- Number of commits
	- Number of PRs
	- Number of issues opened and closed
	- Number of mentions on Twitter
	- Number of posts in Discourse
	- Total number of opened issues/PRs
	- Types of contributions
- Size of activity
	- Number of active contribtors (define active)
- Performance
	- Time to

[2017-10-06 08:22] VictorBjelkholm opened #270 "Barcelona Hack Day"
## Time

~~One of the days between 9th and 25th October, still not entirely decided.~~

~~**Preliminary date**: 24th of October~~

Confirmed date: **28th of October** from 14:00 (2PM) to 20:00 (8PM)

## Who is it for?

Anyone from beginners to people who want a deep dive into IPFS.

## Location

~~Currently `undefined`. @tomasdiez has previously offered a venue from Fab Lab Barcelona, so that migh

[2017-10-06 08:39] xavivives commented on #270
I understand that is a one day thing. To be defined between the mentioned dates? Or multi-day event?

[2017-10-06 08:41] VictorBjelkholm commented on #270
@xavivives one day thing! Could have been more clear, I'll update it. Thanks!

[2017-10-06 09:21] JustinDrake commented on #270
Potentially interested in joining! The later the better, as it gives me time to organise travel.

[2017-10-06 10:17] aaronwinter commented on #270
Please allow online attendance and set-up an IRC channel. I think you could attract volunteers from all over (including IPFS devs/maintainers).

[2017-10-06 10:42] VictorBjelkholm commented on #270
@aaronwinter that's a really good idea, will make sure that happens. Cannot guarantee who from the core-team will attend though, but would be good to allow remote attendance.

[2017-10-06 16:50] fcsonline commented on #270
I'm in

[2017-10-07 15:17] andresgutgon commented on #270
I'm in too

[2017-10-07 22:56] nicola commented on #270
I will be in!

[2017-10-08 07:28] tomasdiez commented on #270
yes! We could do it at Fab Lab Barcelona: http://fablabbcn.org/, need to sync schedule but is doable

[2017-10-08 13:55] fbaiodias commented on #270
I will be in too!

[2017-10-09 09:44] gtrias commented on #270
I will be in too :)

[2017-10-09 12:16] krbu commented on #270
I will be in!!

[2017-10-09 13:15] JCsiroop commented on #270
I'll be in!!

[2017-10-09 13:17] jachiang commented on #270
I'm will be in! Looking forward to meeting the IPFS community in Barcelona!

[2017-10-10 11:10] nicola commented on #270
Only available dates for me are from Oct 23+ :(

[2017-10-11 14:01] VictorBjelkholm commented on #270
So, preliminary date that hopefully works for as many as possible:

## 23th of October

Venue still TBD

[2017-10-11 14:53] nicola commented on #270
(actually can I suggest 24th? on the 23rd I might be on a plane back during the day)

[2017-10-11 14:58] VictorBjelkholm commented on #270
@nicola assumed incorrectly you'd landed here 22th and would be available 23th, so updated now! Thanks 👍

[2017-10-11 15:20] jachiang commented on #270
Dear all, is this IPFS deep dive open to all interested blockchain devs/enthusiasts? I would love to attend, but want to make sure my presence would be appropriate/welcome. Cheers!! :)

[2017-10-11 17:41] diasdavid opened #271 "2018, February 3 & 4 - FOSDEM (Brussels)"
![image](https://user-images.githubusercontent.com/1211152/31457077-f7bb4450-aebb-11e7-8aeb-03cc1e61bb04.png)

### After the great fun of [FOSDEM 2016](https://github.com/ipfs/community/issues/88) and [FOSDEM 2017](https://github.com/ipfs/community/issues/194), here comes **FOSDEM 2018**.

**Who is planning on going next year?** Are you down for an IPFS community meetup while at the conf or post c

[2017-10-11 17:41] diasdavid commented on #194
Hi everyone that subscribed to this issue, are you planning on going to FOSDEM in 2018? Follow up on the new issue https://github.com/ipfs/community/issues/271

[2017-10-11 17:42] diasdavid commented on #88
Hi everyone that subscribed to this issue, are you planning on going to FOSDEM in 2018? Follow up on the new issue https://github.com/ipfs/community/issues/271

[2017-10-11 19:28] jefft0 commented on #270
I'll be there.

[2017-10-12 02:17] chriscool commented on #271
I will likely go, and sure I would attend an IPFS community meetup before, after or during the conf.

[2017-10-12 06:55] dasilvacontin commented on #270
Very interested as well! 😊

[2017-10-12 15:53] mariondita commented on #270
I am in! yay! Thanks :D

[2017-10-17 11:52] diasdavid commented on #253
Adding:

- [ ] Explain linting decisions on the contributor Guidelines (ref: https://github.com/ipfs/aegir/issues/45)

[2017-10-17 11:52] diasdavid commented on #253
Adding:

- [ ] Explain Perf Best Practices and guide (ref: https://github.com/dignifiedquire/borc/issues/6)

[2017-10-17 13:05] nicola opened #272 "Hackday in Rome, Italy on Oct 21?"
If we organize an hackday in Rome, who would be in..?

[2017-10-19 16:30] VictorBjelkholm commented on #270
## Finally have a solid date and venue!

The second hack day in Barcelona will be in Fab Lab Barcelona at 28th of October. More details are in this issue (top post) and also at the meetup page: https://www.meetup.com/IPFS-BCN/events/244344626/

Please RVSP as the seats are limited and it also becomes easier to figure out how much food + drinks are needed.

@jachiang you should for sure drop by, th

[2017-10-20 11:31] JustinDrake commented on #270
I can't make the 28th but I hope to see some of you a few days later at Devcon3!

[2017-10-20 11:41] xavivives commented on #270
Same here ^^

[2017-10-20 11:56] VictorBjelkholm commented on #270
Absolutely, I'll be there :)

[2017-10-22 08:51] NeoTeo commented on #54
@diasdavid @whyrusleeping When are you in Copenhagen? We could schedule a Meetup there for you if you're interested. And it'd be good to see you guys again :)

[2017-10-22 08:52] NeoTeo commented on #54
@diasdavid @whyrusleeping Oh shit, just looked at the date. Never mind :(

[2017-10-22 08:58] diasdavid commented on #272
@nicola did it happen?

[2017-10-22 09:39] whyrusleeping commented on #54
@NeoTeo Maybe we will just have to plan another visit to copenhagen :)

[2017-10-22 10:45] NeoTeo commented on #54
@whyrusleeping TBH that is the best solution :)

[2017-10-22 14:01] nicola commented on #272
No, I know too little people in Rome :(

[2017-10-22 15:32] diasdavid commented on #272
With more prep time, I'm sure it could happen :) Closing this one for now.

[2017-10-22 15:32] #272 closed

[2017-10-28 07:55] harlantwood commented on #57
yup, super dead, IMHO

[2017-10-28 11:45] qjawe opened #273 "Singapore IPFS"
I will like to start a community in Singapore and not sure how it begins...

If anyone reading this please contact me at http://qjawe.com/onename | http://qjawe.com/keybase or message me at http://qjawe.com

[2017-10-30 15:41] VictorBjelkholm commented on #270
This happened and was a lot of fun! Created a repository for all the information and some projects to hack on: https://github.com/VictorBjelkholm/ipfs-hack-day-barcelona-october-2017

Some photos from the event:

![photo6028182377886493225](https://user-images.githubusercontent.com/459764/32179968-b9ff952e-bd5e-11e7-9769-7ec56aba3280.jpg)
![photo6028182377886493226](https://user-images.githubuserc

[2017-10-30 15:41] #270 closed

[2017-11-08 17:48] alexAubin opened #274 "CFP for the Decentralized Internet & Privacy devroom at FOSDEM 2018"
Hello IPFS folks !

This is an issue a bit more specific than #271 to tell you that, like last year, there will be a room at FOSDEM this year dedicated to Decentralized Internet and Privacy.

It would be totally awesome to have a talk on IPFS in here, so feel free to submit a proposal :). The deadline is November 26th.

You can find the full Call for Participation here :

https://lists.fosdem.org/

[2017-11-20 10:37] diasdavid commented on #219
I feel that Coveralls was so much nicer, it would give me the UI of a single line in the CI checks that told me if coverage dropped, maintained or increased. Now with codecov we get this giant reports which do not translate to anything on the CI checks:

<img width="877" alt="image" src="https://user-images.githubusercontent.com/1211152/33014256-a0a9dcb6-cdde-11e7-9f39-5a22d35d4633.png">

It makes

[2017-11-20 10:40] Kubuxu commented on #219
I disable comments on all go repos and use Codecov interface and build status. There are two build status checks with Codecov: global coverage difference and diff coverage.

[2017-11-20 10:43] Kubuxu commented on #219
If you want comments, you can configure them: https://github.com/codecov/support/wiki/Pull-Request-Comments

[2017-11-21 16:44] lgierth commented on #263
Hey, quick update, I enabled 2FA on the ipfs org yesterday, and a few people got kicked. I made sure that all current contributors got reinvited swiftly (cc @ipfs/python-team).

Anybody else who got kicked, please enable 2FA in your account and ping me here, and I'll reinvite you too :)

[2017-11-22 10:34] TKorr commented on #263
Yea, I just got kicked...2FA enabled now. need back in the Python team, cheers.

[2017-11-26 10:04] cboddy commented on #263
Ah, wondered why I was kicked. 2FA re-enabled if you could re-add me please.

[2017-11-26 10:55] zignig commented on #263
@lgierth

2fa enabled, please add me back on. 😁

[2017-11-27 09:37] VictorBjelkholm opened #276 "Standarized Makefile for go projects"
When starting to work on adding golang support for Jenkins, I quickly noticed the lack of standardization of a Makefile between go projects. In JS land, we have aegir that gives us the same commands for all repositories where it's being used, which means it's very easy to have a standardized pipeline that works everywhere. Would be very nice to have the same thing across go repositories.

We can a

[2017-11-27 16:10] Kubuxu commented on #276
@kevina was doing something around this with Travis.

[2017-11-28 00:40] kevina commented on #276
@Kubuxu I was mainly installing this minimal Makefile id one does not already exist:
[code]

[2017-11-28 00:42] kevina commented on #276
@VictorBjelkholm  disagree on what the proposed `install` target should do.  `install` should _install_ the binary as it does in go-ipfs not install the deps.  We use the `deps` target for that.  Note that not all projects have something that can be installed so this target doesn't always make sense.

[2017-11-28 01:20] lgierth commented on #263
Hey I re-invited all of you - @TKorr python team, @cboddy scala team, @zignig go team - thanks for bearing with me!

[2017-11-28 10:54] VictorBjelkholm commented on #276
@kevina ah, yeah, that makes much more sense indeed, especially since the usual way of building + installing things is running `make && make install` in unix land. Thanks.

`deps` does indeed sound better.

Yeah, mentioned this in the original comment. As long as the target still exists, can be called and exists with `0`, that's ok.

[2017-11-28 16:30] Kubuxu commented on #276
I would add `make coverage-reports` that would create directory `coverage-reports` and collect all of them there (in go it is easier to have multiple reports as we would need additional tool to converge them into one).

[2017-11-29 18:20] hsanjuan commented on #276
We have many projects, many of them small. The cost of maintaining a tightly standarized `Makefile` among all is too big or too tedious (see how it went with standarized readmes, standarized badges and so on...).

Just run a sensible default (like `golang()` does now), or otherwise let users define what custom stuff to run with a repo-provided script that does whatever needs to be done (like a .tr

[2017-12-05 16:00] VictorBjelkholm commented on #276
@hsanjuan I think readme's and badges can be standarized as long as we have proper tooling, but readmes are way different than how software builds and is tested.

I think the time required for maintaining custom processes for building and testing each one of our repository is way higher than making everything follow one process.

[2017-12-06 01:08] hsanjuan commented on #276
But it's not a custom process, just provide the user an entrypoint to run whatever they need to when there is no a simple plain default `make test` and avoid implementing a catch-all solution that fits every project. This is usually takes the form of a `jenkins.sh` in the repo that just gets run.

The most "proper tooling" you need to develop, the most you'll need to maintain. We have proper tooli

[2017-12-06 09:05] VictorBjelkholm commented on #276
Yes, it's about providing an entrypoint that works the same for similar projects, so you don't have to learn each projects own steps, when they are the same but names differ slightly. As proposed in the opening of this message, it would take the form of max 6 targets in a Makefile. We already have this working in JavaScript land (with aegir) where any project you open up, same commands are being u

[2017-12-06 11:32] hsanjuan commented on #276
Well a few targets is better than many targets.

What I'm just asking is to reduce that list of targets to 1. If my project has just one `make jenkins` target I just need to look in my project to see what gets run in jenkins, and I just need to update that if my build requirements change and I don't need to know the standard, the code that implements the standard, nor adapt to it, nor to discuss h

[2017-12-06 12:11] VictorBjelkholm commented on #276
Agree, if there is something that doesn't **have to** be there, it shouldn't be there.

This is in no way specific to jenkins but overall project hygiene, quickly being able to know how to use the project, no matter who started it.

I don't see how it's different when your build requirements change if you're changing a target called `jenkins` compared to `build`. The "standard" is only about the i

[2017-12-06 12:35] hsanjuan commented on #276
@VictorBjelkholm our views are slightly divergent but I acknowledge in any case it's a welcomed improvement. As you say, most projects do already follow a somewhat standard makefile (whenever I create a project I copy/paste it from an existing one at least).

Build:
[code]

When there's no binary it just compiles. I use `make build` to check if my code (without the test parts) compiles.

[2017-12-20 13:52] llopv commented on #11
@skylarnorris How is the store going? Do you need any help on this?

[2017-12-20 13:53] nicola commented on #11
Swag store is out! https://shop.ipfs.io/

[2017-12-20 14:00] asymmetric commented on #11
And we can only pay in USD with PayPal? 😢

[2017-12-20 15:30] skylarnorris commented on #11
Swag store has been out for awhile, but I don't think it was posted anywhere? Thanks for putting the link out @nicola <3

Yes, sadly. :( For now. Hope to add other options in the future!

[2017-12-20 20:27] RichardLitt commented on #11
Might be worth adding a link to the README about Swag, instead of keeping this issue open.

[2018-01-02 11:30] diasdavid commented on #271
Ok, let's get the conversation active in this thread. The ones I know going so far are:

- @diasdavid
- @flyingzumwalt
- @miyazono
- @nicola
- @vmx
- @hacdias
- @chriscool

Who else is joining? :)

[2018-01-02 11:33] diasdavid commented on #271
@gpestana, @jgantunes, @diffcunha are you in as well?

[2018-01-02 11:39] diasdavid commented on #271
Also @sublimino \o/

[2018-01-02 11:40] stskeeps commented on #271
@stskeeps will :)

[2018-01-02 11:42] gpestana commented on #271
I'm in and I'm down for the community meetup on the 1st or during the conf (leaving on Sunday).

[2018-01-02 11:42] diffcunha commented on #271
I’m in @diasdavid

[2018-01-02 11:55] diasdavid commented on #271
@hassy is also coming \o/

[2018-01-02 11:59] diasdavid commented on #271
@gpestana you meant a meetup on the 2nd right? If not, why would the 1st be the best day?

[2018-01-02 12:05] JGAntunes commented on #271
I'll have a project report and presentation due to February 3rd, so I'll be out unfortunately @diasdavid :cry:

[2018-01-02 12:21] berry commented on #271
I am a loyal visitor of FOSDEM and interested in IPFS. Could you please sum up when and where on FOSDEM I can listen or participate in IPFS talks or meetings? Thanks very much.

[2018-01-02 12:52] gpestana commented on #271
@diasdavid true, not the 1st but the 2nd of Feb works for me. Or during the conf :)

[2018-01-04 15:40] skylarnorris commented on #11
@RichardLitt how do I add people to this repo?

[2018-01-04 15:42] RichardLitt commented on #11
@skylarnorris Go to "Settings". If that isn't an option, ask @lgierth or @diasdavid or someone similar to enable you as an admin for this repo. Then, in "Collaborators", you should be able to add people.

Feel free to add me back if you need something done. Doesn't take me much effort. :)

[2018-01-04 15:52] skylarnorris commented on #11
@lgierth :) Can you add Jamie? I don't have admin access.

@RichardLitt thanks, always appreciate you!

[2018-01-07 23:46] diasdavid opened #277 "2018, January 11th - Lisbon IPFS Meetup"
Hi all! We are putting together a meetup in Lisbon for this week, January 11th

<img width="1223" alt="image" src="https://user-images.githubusercontent.com/1211152/34655632-dff63f9e-f404-11e7-9678-2eda74b2f08a.png">

RSVP: https://www.meetup.com/ipfs-lisbon-meetup/events/246513999/

Everyone is welcome to join and to invite their friends!

[2018-01-07 23:48] #142 closed

[2018-01-07 23:49] diasdavid commented on #230
Also tracked in the `pm` repo https://github.com/ipfs/pm/issues/493. Closing this one

[2018-01-07 23:49] #230 closed

[2018-01-07 23:51] #257 closed

[2018-01-08 10:11] haywirez commented on #41
Is this still happening? Any upcoming meetups?

[2018-01-08 14:09] VictorBjelkholm commented on #41
@haywirez haven't seen anything been planned for a while. If you're not afraid of travelling, I'm hosting meetups every now and then in Barcelona, Spain. Subscribe to https://www.meetup.com/IPFS-BCN/ for announcements regarding the next one

[2018-01-10 19:13] Gozala opened #278 "Enavle type-checker support in js-ipfs and js-libp2p"
Hi Folks,

Lately I have being trying to use js-ipfs in a project and got somewhat overwhelmed by amount of libraries at play, don’t get me wrong, I like the seperation of concerns this layered setup provides, it’s just incredibly hard to pin down what are the things being passed around and I’ve being following a rabbit hole for multiple days now. I also noticed the pattern across the stack where

[2018-01-10 19:18] RangerMauve commented on #278
Typing would be useful. If this gains traction, I'd +1 for typescript, since flow is mostly just pushed by FB.
Maybe even having both type files where one is generated from the other.

[2018-01-10 19:23] Gozala commented on #278
There is multiple ways one could go about adding type-checker support and each has different value proposition. I would personally advocate to go full on and just add flow to a toolchain as it would give you all the benefits at the cost of contributir workflow. I have experience with starting to use comments initially before going full on and from my experience no developer involved wanted to go b

[2018-01-10 19:24] Gozala commented on #278
I’m also happy to lead this effort if there is a will to accept this.

[2018-01-10 19:30] Gozala commented on #278
It is true, but isn’t ts also just pushed by Microsoft ? I would prefer flow as type inference is far more superior and toolchain vice you don’t need full buy-inn.

Sadly there is no such tool as far as I’m aware but if one of the typecheckers is used writing just tyoe signatures for the other should be viable and less prone to be out of sync

[2018-01-10 19:35] Gozala commented on #278
I am also happy to provide specific explanation of why flow type checker type inference is superior and what does that actually provides as consequence if that is a conversation worth having.

[2018-01-10 19:42] RangerMauve commented on #278
TS is used by more than just Microsoft, for example, Google's Angular team found it appealing enough to focus Angular 2+ on it, and I, personally, have seen more projects using TS than using flow.

[2018-01-10 19:46] Gozala commented on #278
@ RangerMauve Well if you're talking about users there are ton of users of flow as well at Mozilla we use it quite a bit and most of the projects around React ecosystem tend to use flow for the reasons you can guess. That being said you're probably right and more projects use TS but I wonder how much of that is due to TS being just an older project.

In terms of contributors to ts and flow project

[2018-01-10 19:55] RangerMauve commented on #278
This is why I would suggest supporting both, because otherwise there will be a constant stream of people arguing over which type system should be integrated with or not.

[2018-01-10 20:12] Gozala commented on #278
Anyway here is a small list of objective reasons why I think flow is a better choice:

1. Flow type checker is nothing but a type checker, meaning it just type checks. Transpiling flow typed code into valid JS is done by other means often using babel and there is far more flexibility in terms of what you want output be than what you get with TS where tool does type checking transpiling and more, d

[2018-01-10 20:18] Gozala commented on #278
To be absolutely clear I'm happy to do the work necessary for flow integration. As of TS support, I think it would be great and someone should do it, it's just I can not contribute to that effort as it does not help me with my project. I hope you understand.

[2018-01-10 20:20] Gozala commented on #278
Here is a list of PRs I'have submitted yesterday, before @VictorBjelkholm asked me to open this issue:

- https://github.com/libp2p/js-peer-info/pull/62
- https://github.com/libp2p/js-peer-id/pull/75
- https://github.com/multiformats/js-multiaddr/pull/51

[2018-01-10 20:37] Gozala commented on #278
Copying conversation from that happend over at https://github.com/libp2p/js-peer-info/pull/62#issuecomment-356725535 with @dryajov as discussing it here makes more sense:

[2018-01-10 21:00] Gozala commented on #278
So here is the list of options in which flow types could be added to the ipfs libraries:

### 1. Go full on with flow type checker.

#### Pros

- Type signatures will be guaranteed to be in sync with implementation.
- Implementations will be able to take advantages of type checker.
- Integration tools could type check pulls to make sure type safety.
- Libraries that implementing interface will be

[2018-01-11 20:16] Gozala commented on #278
## Update

After doing some more exploration I realized that without type information for pull-streams utility of having type annotations in ipfs libs will be fairly limited. So I started doing flow-typed annotations for pull-streams which as it turns out has a very very very generic API since it takes  1 or 0 `Source` stream, arbitrary number of `Through` streams and 1 or 0 `Sink` stream and depe

[2018-01-12 15:08] diasdavid commented on #278
Woa, tons of work and exploration here, thank you so much @Gozala 🙌🏽

💯 and also compliance tests to ensure that behavior is correct.

We have had in the past experimented with transpilation steps to support old ES5 browsers and after a while no one could bare to debug transpiled code all the way. The situation was especially bad since we have the code super modular and sometimes making a change r

[2018-01-13 09:43] Gozala commented on #278
Here is even more not 💯 there yet but almost. Also I could use some feedback on whether my interpretation of APIs are correct. I did add bunch of `// TODO:` comments where I'm clearly confused. https://github.com/Gozala/ipfs-drive/tree/master/flow-typed/npm

It's unfortunate you had a bad experience with that. It could be that things have improved since, at least I don't struggle given that source

[2018-01-14 19:36] diasdavid commented on #278
Given that js-ipfs and js-libp2p are designed to work both in Node.js and in the Browser, I take that you are suggesting that we always use node-inspector with all of our debugging so that we can get Source Maps for Node.js.

This is not necessarily a bad thing, just one that we have to handle with docs on the README on how to debug one of these modules. It happened in the past, when we did the tr

[2018-01-14 19:50] Gozala commented on #278
I didn’t imply that. There is node source maps support package (can’t remember name, on the 📱right now)

[2018-01-14 19:56] Gozala commented on #278
So workflow could be simpler even without wathcher. Just link once whatever you need to change (I assume that’s already a case) after changes run build in that package. Note that you don’t need to relink or rebuild package it was linked into (unless exposed API interface changed in incomplete way - major version bump in semver).

[2018-01-17 11:21] docteurcheese commented on #54
hey everyone,
I don't know if this is the good place to ask this question, or if there is still French people on this wall, but I really need your help.. I'm looking for very talented people to help me to create a project base on IPFS technologie, and I don't really know how to get in touch with them. So, do you know if there is a meet up schedule in France, or a French community working on IPFS?

[2018-01-18 13:17] alexAubin commented on #274
Well thanks anyway ! 😅

[2018-01-18 13:17] #274 closed

[2018-01-18 16:22] diasdavid commented on #277
3 talks have now been published, check the Playlist here https://www.youtube.com/playlist?list=PLuhRWgmPaHtTOxnoHbH7iLpm7jXP3Esjg \o/

[2018-01-18 16:22] #277 closed

[2018-01-22 19:24] eric-holobyn commented on #175
The link has died :(

[2018-01-22 20:38] RichardLitt commented on #175
@eric-holobyn Changed it. See #11. https://github.com/ipfs/community/issues/11#issuecomment-357773361

[2018-01-22 20:46] eric-holobyn commented on #11
@skylarnorris How can I grab 2 stickers from the team??

[2018-01-22 21:31] skylarnorris commented on #11
@eric-holobyn send me an email with your address and I'll ship some to you: skylar@protocol.ai

[2018-01-23 01:05] skylar commented on #175
Wrong skylar...

skylar

[2018-01-23 01:20] RichardLitt commented on #175
@skylarnorris Ping. :)

[2018-01-23 16:32] skylarnorris commented on #175
Weird, I definitely left a comment last week.

I've updated the README. Stickermule no longer offers their marketplace, so sticker requests require an email to me (address in readme).

[2018-01-23 21:22] docteurcheese commented on #54
Hey everyone,
feel free to contact me or share this positon if you know someone who could be interested in.
Thanks.
https://angel.co/blockpills/jobs

[2018-01-24 09:21] ansuz commented on #54
SPAM

[2018-01-24 09:42] VictorBjelkholm commented on #54
Please don't put job postings in random threads on Github @docteurcheese, I've deleted your comment since this thread is about IPFS meetups in Paris.

[2018-01-27 18:08] diasdavid commented on #278
Apologies for the delay in following up on this one.

I believe we have different experiences using these tools and there are clear learnings that have to happen from both parts. In order to avoid investing to much time in painting this bikeshed, I have a more pragmatic proposal.

Let's use follow for `multiformats/js-*` repos and `ipld/js-cid` and learn from that effort together. This test will c

[2018-01-27 18:59] vmx commented on #278
@Gozala I'd like to see `js-cid` being worked on as I'm especially interested in combining flow types with JSDoc.

[2018-01-29 11:38] alanshaw commented on #278
I'm not a flow or typescript user. I've never used flow but I have worked on typescript projects in the past and got a bit bogged down with annotations and I felt like it hindered my productivity.

I found that annotations can get really tricky unless you only use them for the simple cases. Good type annotations should handle the tricky bits, but in my experience this means quite a significant inv

[2018-01-29 18:34] Gozala commented on #278
@alanshaw thanks for commenting on this issue, I think it's important tea hear arguments form both sides of the argument. I am also sorry to hear you had bad experience with typescript projects in the past, while I do realize no words could counter that experience, if you let me and keep an open mind I'd try to pursue to give it another chance.

Here some of my comments inline below:

You are abso

[2018-01-29 18:38] Gozala commented on #278
👍 I can't agree more! As mentioned earlier there is no way to draw informed conclusion without trying and learning from that.

I am not sure how far I'll be able to get this (due to time constraints) but I'm definitely eager to lead this effort till conclusions can be drawn on it's merits.

[2018-01-29 18:42] Gozala commented on #278
While it's entirely possible to start from there, in my experience it's more productive to start from the leaf dependencies, so maybe it would make sense to start from one that has no or least dependencies ?

[2018-02-07 20:21] diasdavid commented on #215
//cc @vmx :)

[2018-02-07 20:23] diasdavid commented on #263
This is all done now, closing this issue :)

[2018-02-07 20:23] #263 closed

[2018-02-12 17:45] evalsocket opened #280 "Meetup in Delhi , India ?"
I'm currently in Delhi and would be interested in getting an IPFS community going. if anyone is interested in joining. I could also use some help in organizing it and getting a place to host it.

[2018-02-13 19:46] Admin-DataRoads commented on #267
While most online tech communities are indeed English-first, any sufficiently large user-facing projects will need to have their UX and documentation localized eventually, which means embedding translation services as part of the core build process.

https://opensource.com/article/17/6/open-source-localization-tools

To the extent that IPFS works with global nonprofit organizations, there will als

[2018-02-13 20:15] Admin-DataRoads opened #281 "Open Source community conference (SCaLE 16x) presence?"
I will be attending the 16th annual Southern California Linux Expo (SCaLE 16x) in Pasadena from March 8th through 11th.

https://www.socallinuxexpo.org/scale/16x/

Over these 16 years the "Linux" part has become kind of a misnomer, because the conference has become more about Open Source (software and hardware) communities in general; but the acronym was too good to give up, especially during the

[2018-02-13 21:01] dryajov commented on #267
I think this is really important. While many non english speakers will be able to read technical documentation in english, asking questions is a whole different thing and a skill that many will lack. Having language specific subforums/irc channels should help those communities flourish and help with adoption outside of the english speaking world.

This is an important point and something that we c

[2018-02-13 22:43] Admin-DataRoads commented on #217
This suggestion best matches "all hands" and multi-project weekly sync up meetings I have organized at past jobs, along with listing any inter-project dependency blockers. There are a lot of projects here, but there also seems to be a lot of project sets that are being driven by a single developer, so in many of these cases developer-updates and project-lead-updates will be one in the same.

If de